[2012-10-15 20:48] gjospin commented on #325
Split the <seqname>.<coordinate> into 2 separate columns.
Modified summarize.pm and benchmark.pm to accomodate for that change.
Pushed to 121011_bowtie2_removal.

[2012-10-15 20:48] #325 closed, assigned to gjospin

[2012-10-15 20:49] gjospin commented on #323
This now happens during data_checks and forces a reindex if needed.
pushed to 121011_bowtie2_removal.

[2012-10-15 20:49] #323 closed, assigned to gjospin

[2012-10-15 20:50] gjospin commented on #320
Running 18S OTUs. Out of 44585 input sequences, 2391 pass our threshold and move on to the alignment step.

[2012-10-15 20:52] gjospin commented on #320
When running the same code using 16S OTUs, 1918 input sequences get filtered down to 1727 hits moving on to the alignment step.

[2012-10-15 21:47] hollybik opened #329 "Change U's to T's in the Eukaryotic 18S marker packages"
This might be the reason why LAST searches are so sad right now

[2012-10-15 22:10] koadman opened #330 "speed up processing for large numbers of hits during FastSearch"
When a scanning a genome with `phylosift search`, especially running in isolate mode, it can take a very long time to process all the hits. This is probably due to checking for hit overlaps, which is currently written to scan each new hit against all previous hits requiring O(N^2) compute time. This will be unacceptably slow when scanning against extended families.

[2012-10-15 22:38] hollybik commented on #322
Re-downloaded newest version of phylosift and devel markers, and running xeno data now (after reindexing marker DB with xeno 18S marker added in). Will see if the error still pops up.

[2012-10-15 22:55] gjospin commented on #329
This did it. Assigning to @koadman to push the change to the marker DB

[2012-10-15 22:56] gjospin commented on #320
Fixed with issue #329

[2012-10-15 22:56] #320 closed, assigned to gjospin

[2012-10-16 16:22] gjospin commented on #324
Done.

usage : >./phylosift.pl name filename (filename2)

[2012-10-16 16:22] #324 closed, assigned to gjospin

[2012-10-18 22:52] koadman opened #331 "phylosift search -f does not clobber a pre-existing run when run_info.txt suggests a chunk is done"
-f , or --force should override any record stored in run_info.txt of what has already been processed.

[2012-10-18 23:17] koadman commented on #331
note...this is not a problem when running `phylosift all -f` only with `phylosift search -f`.

[2012-10-19 01:33] koadman commented on #329
should be done as of a few days ago.

[2012-10-19 01:33] #329 closed, assigned to koadman

[2012-10-19 01:35] koadman opened #332 "Illumina 18S amplicon reads have hits on forward & reverse strands"
This appears to be due to secondary structure in the region targeted by amplicon surveys. We only want the forward strand, which seems to always align much better. Proposed fix to only allow one hit on either the forward or reverse strand.

[2012-10-19 01:35] koadman commented on #332
Fixed with commit 57e0523

[2012-10-19 01:35] #332 closed, assigned to koadman

[2012-10-19 01:41] koadman opened #333 "--continue doesn't work"
continue is supposed to allow a run started at e.g. the align stage to continue through placement and summary. It's currently broken. We should either fix it or remove it.

[2012-10-22 04:41] koadman commented on #266
This shouldn't be happening anymore, at least not on devel with devel markers, and that is where our future lies.

[2012-10-22 04:41] #266 closed, assigned to koadman

[2012-10-22 05:00] koadman commented on #321
Reinstated the original help text in commit 7e8df87.

[2012-10-22 05:00] #321 closed, assigned to koadman

[2012-10-22 15:59] gjospin opened #334 "Sequencetaxa files incorrectly formatted"
Looks like merged reads are not getting their coordinates split correctly.
Non merged reads seem to work correctly.

[2012-10-22 16:05] koadman opened #335 "lastal hits contain only /1 hits in --paired mode"
When running on the grinder_illumina.fa test dataset and using --paired, the candidate files only contain sequence identifiers with /1. It seems that the /2 hits are disappearing somewhere along the way.

[2012-10-22 16:19] gjospin commented on #335
should be fixed with commit 6124ed85f79710af0323bb3e14a05805065d07b2

[2012-10-22 16:45] koadman commented on #335
I just checked my code and it has that change, sooo this is still a problem on devel.

[2012-10-22 17:21] gjospin commented on #335
I have been able to replicate the issue.
After a quick investigation, it looks like demul_sequence does not print
the second read when --paired and there are not 2 input files.

I think a quick change from the FILEHANDLE check to the Array of values
check will fix the problem.

On Mon, Oct 22, 2012 at 9:45 AM, Aaron Darling notifications@github.comwrote:

[2012-10-22 17:32] gjospin commented on #334
fixed in commit 0d15ad00d210ac2613a22bd224ef32c759d1129e

[2012-10-22 17:32] #334 closed, assigned to gjospin

[2012-10-22 17:32] gjospin commented on #335
fixed in commit cc8c1bea0c36ba44d7d40f5b37422ea0639c16e4

[2012-10-22 17:32] #335 closed, assigned to gjospin

[2012-10-22 17:35] koadman commented on #322
@hollybik Can we close this? I am not seeing similar errors on devel.

[2012-10-22 19:40] koadman opened #336 "Complete the funeral service for bowtie2"
bowtie2's belongings are still lurking about the code:

[code]

[2012-10-22 19:41] koadman commented on #336
and maybe we can burn a stick of incense in bowtie2's memory once it's gone.

[2012-10-22 19:46] koadman opened #337 "Update workflow figures for paper to remove bowtie2"
This is related to issue #327

We have also eliminated bowtie2 for simplicity's sake and because the speed gain is marginal next to the long time pplacer requires.

[2012-10-22 19:48] gjospin commented on #336
Oh I totally missed those. I'll take care of that today.

On Mon, Oct 22, 2012 at 12:41 PM, Aaron Darling notifications@github.comwrote:

[2012-10-22 21:40] koadman opened #338 "Support new-style Illumina read pair IDs"
The original Illumina FastQ format used /1 and /2 to indicate paired reads. Starting around 6-12 months ago with the introduction of casava 1.8, the pair identifiers changed so they are separated from the main read with a space and also may contain sample barcode info:

[code]

The pair ID is the 1 in `1:Y:18:ATCACG`.

See the wikipedia page on FastQ for more details:

http://en.wikipedia.org/wiki

[2012-10-22 21:45] koadman commented on #333
@gjospin Any thoughts on whether this should be fixed or removed? If fixed, how would it work with chunks? would the user be able to start with e.g. placement on a chunk and then have the run continue back around with search on the next chunk? Or would you only be able to finish a single chunk?

[2012-10-22 22:07] koadman opened #339 "Smarter use of pplacer --mmap-file and --groups"
Right now --mmap-file and --groups are always used for the concat markers. However, on machines with sufficient memory pplacer might run much more quickly if --mmap-file were not used. We could check the available system RAM and only use --mmap-file if it was found to be insufficient.

[2012-10-23 15:42] gjospin commented on #336
Done in commit 40bd8184be00acd69c9e988551be7ce9bcffeef7

[2012-10-23 15:42] #336 closed, assigned to gjospin

[2012-10-23 15:46] gjospin commented on #333
The way I had it set up a while back (probably broken by now) was that we were still reading every chunk for the input data but only printing to the lastal streams whenever a chunk was not completed.
Ideally, we could use that mechanic to finish a chunk in progress then start the other chunks.
I would be in favor of being able to --continue a full run rather than a single chunk.
If we want to have

[2012-10-23 16:16] gjospin commented on #331
Do we want to simply clobber the blastDir ?

[2012-10-23 16:37] gjospin commented on #331
Should be fixed with commit e59a4cd20aece86db03a3b7f55e29f927feb2d20

Might need to rethink the checks on completed chunks.  We are appending the run_info.txt. So we could get "chunk 1 completed" printed out multiple times if searches are run multiple times.
Also other single step modes (ie align or pplacer) don't write to run_info.txt.

[2012-10-23 16:55] gjospin commented on #333
Fixed in commit d596c44f4440a8000d5ee5317e147be37d378f7b

[2012-10-23 16:55] #333 closed, assigned to gjospin

[2012-10-23 17:05] gjospin opened #340 "summarize's renaming breaks on finished run"
Redoing the summarize step when a run has previously finished (undergone the renaming of sequences) breaks the renaming of the sequence IDs.

Lots of error messages printed to the screen.  (Use of uninitialized value within %name_mapping)

[2012-10-23 18:17] koadman commented on #340
I propose a solution of deleting the ID lookup table after renaming has occurred successfully.

[2012-10-23 22:17] hollybik commented on #322
This might be a mac specific issue? or perhaps an issue with my xeno marker package? On October 9th's version of devel I was getting another error (below). I will re-download last night's devel build to see if I can still replicate this.

Running /Users/hollybik/Desktop/PhyloSift/phylosift_devel_20121009/bin/../osx/pplacer --groups 15 --mmap-file abracadabra  -o /Users/hollybik/Desktop/PhyloSift/p

[2012-10-23 22:39] gjospin commented on #340
Fixed and implemented the suggestion.

[2012-10-23 22:39] #340 closed, assigned to gjospin

[2012-10-23 22:40] gjospin opened #341 "Read ID mapping"
The read ID mapping will need to be completely revamped to accomodate for storing information for the full sequence header.

Also will need to modify the merging gadgetry to preserve mate information

[2012-10-26 17:39] hollybik opened #342 "Detect computer memory and avoid disks if possible"
pplacer step is making my iMac super sluggish because it is using the disk instead of memory to place reads (even though I have plenty of memory).

[2012-10-29 16:27] koadman opened #343 "Create a 1.0 beta release"
phylosift's functionality and operability is far enough along that we might be able to create a 1.0

[2012-10-29 16:29] koadman opened #344 "Taxonomy assignment for 18S data"
The current 18S rRNA markers do not contain a taxon mapping file but all representatives have NCBI taxon IDs so this would be easy to use.

[2012-10-29 16:31] koadman commented on #75
This has been implemented using the App:Cmd system

[2012-10-29 16:31] #75 closed, assigned to nobody

[2012-10-29 16:32] koadman commented on #78
The devel database no longer contains markers in the old format, however, vestiges of the old format remain in the code.

[2012-10-29 16:32] #341 closed, assigned to gjospin

[2012-10-29 16:33] gjospin commented on #322
I think this went away in Friday's tests.

[2012-10-29 16:33] #322 closed, assigned to gjospin

[2012-10-29 16:33] #331 closed, assigned to gjospin

[2012-10-29 16:34] koadman commented on #326
All the documentation will need to be current for a 1.0 beta release.

[2012-10-29 16:35] koadman commented on #339
This is related to issue #342.

[2012-10-29 17:11] koadman opened #345 "Support barcoded multisample processing"
Currently multi-sample processing requires running each sample through phylosift separately, then comparing the results. It would be simpler for users to do a single run of phylosift on reads where the barcode is in the header, then conduct the multisample comparison on that. For example an interface such as:

[code]

We could follow QIIME's conventions for the barcode_file.txt so that the interfa

[2012-10-29 17:14] gjospin commented on #78
So many things have changed recently...
I have been looking at the code and we have a lot of checks that skip part of the code if the marker is PMPROK or removes the PRMPROK markers.  I think those should stay for a while until we are confident all PMPROK DBs are gone (from users' computers).
The candidates for removal that I see are marker_oldstyle (from Utilities.pm).
The candidates for renaming

[2012-10-29 17:17] gjospin opened #346 "getPMPROKMarkerAlignementFiles is misleading"
This function from MarkerAlign.pm suggests that  it gathers the PMPROK alignment files (now should be renamed with DNGNGWU) and returns a list of them.

However we skip the gathering when the markers have either DNGNGWU or PMPROK in their name.

[2012-10-29 18:41] koadman opened #347 "configuration option for stringency of fastq quality trimming"
There should be a config file handle to change this threshold

[2012-10-29 18:43] hollybik opened #348 "Tutorial and documentation for Bayes Factor Test"
Make users aware of this feature and give them instructions on how to use it.

[2012-10-29 18:57] koadman commented on #317
We need to describe the variables in the equation posted to the website

[2012-10-29 19:06] koadman opened #349 "Detect Uracil in build_marker and complain"
build_marker doesn't include RNA support, need to detect users inputting RNA and error out.

[2012-10-29 19:08] hollybik opened #350 "Go through updated help screens to see if they all make sense for users"
Will do this as I'm updating the website content.

[2012-10-29 19:13] koadman opened #351 "Validate and improve consistent behavior with --force and chunks"
Need to ensure that search, align, and placement steps all behave similarly, ensure that run_info.txt stays consistent. e.g. run_info.txt should have a chunk marked complete after summarize.

[2012-10-29 19:21] koadman opened #352 "add a quiet mode"
Some people don't want to cite our stinkin' work, and all the cool kids know how to be quiet.

[2012-10-29 19:28] hollybik opened #353 "Document issue #340 - deleting ID lookup table after summarize/renaming"

[2012-10-29 19:41] koadman opened #354 "Redo all code formatting"
We need to run the source formatter with the newly agreed upon formatting options.

[2012-10-30 18:24] hollybik opened #355 "Output quality trimmed fastq data into a new output file"
Good idea to give users the trimmed fastq data so that they have access to intermediate data structures and the pipeline outputs are more reproducible

[2012-10-30 18:29] hollybik opened #356 "Verify that 16S and 18S pipelines are working correctly"
Make sure there are no lingering coding bugs here and the outputs are looking good.

[2012-10-30 18:41] hollybik opened #357 "Calculate the memory usage for pplacer on each marker"

[2012-10-30 18:48] hollybik commented on #180
Not really relevant anymore...closing

[2012-10-30 18:48] #180 closed, assigned to mayalowe

[2012-10-31 18:32] hollybik commented on #337
Updated workflow figures to reflect coding changes, now in writing/figures folder

Commit c8186db539d29026dadbe97921f16cb44e65df25

[2012-10-31 18:32] #337 closed, assigned to hollybik

[2012-10-31 18:32] hollybik commented on #327
Updated workflow figures to reflect coding changes, now in writing/figures folder

Commit c8186db539d29026dadbe97921f16cb44e65df25

[2012-10-31 18:33] #327 closed, assigned to hollybik

[2012-11-01 02:56] gjospin opened #358 "build_marker should download ncbi DB"
build_marker mode skips DB updates however delnode.dmp is required in the more recent version of the mode.
Might want to check the NCBI download status and update if needed.

[2012-11-01 03:05] gjospin commented on #358
It looks like the ncbi dmps are getting downloaded, PS isn't looking for the appropriate ones in the correct directory.
It is using the ones in share/phylosift/ncbi instead of the version in --destination

[2012-11-01 17:34] hollybik opened #359 "16S rRNA data not being carried through to tree placement and taxonomy summary"
When I input 16S sequences I'm getting hits to 16S markers in the alignDir, but these sequences aren't being carried through to tree placement (treeDir is empty) or taxonomy summaries (all output files are empty)

Run is on Edhar: /home/hollybik/phylosift_devel_20121030/PS_temp/16S_NemMicrobiome_Aset_OCTUPUS_noChimeras_99

Command I ran:
./phylosift.pl all --debug --marker_url="http://edhar.genome

[2012-11-02 17:14] koadman opened #360 "Concurrent phylosift runs need to lock database before indexing"
Currently when running multiple phylosift instances there is no way to prevent them all attempting to update/index the database at once. Need to have a read lock and write lock to support concurrency. We can do this with flock() in perl, as described here:
http://www.perlmonks.org/?node_id=7058

[2012-11-02 19:16] koadman opened #361 "remove taxit from distribution"
taxit must be compiled separately on each user's system, do not distribute with phylosift.

[2012-11-02 21:31] koadman commented on #361
Closed by 40f82db

[2012-11-02 21:31] #361 closed, assigned to koadman

[2012-11-05 17:11] gjospin commented on #349
Don't build markers on Nucleotides

[2012-11-05 17:12] gjospin commented on #347
Add paths for updateDB

[2012-11-05 17:56] gjospin commented on #339
Leaving --groups alone for now. The major slowdown issue comes from --mmap-file.
Only adding --mmap-file when the machine has less than 8Gb of ram.

[2012-11-05 17:58] gjospin commented on #357
This may not be an issue any more (see comment for issue #339).  Only the Concat and the rDNA markers would be problematic with low memory machines and those have already been identified to need around 8Gigs.

[2012-11-05 17:58] #357 closed, assigned to gjospin

[2012-11-05 18:28] gjospin commented on #342
Should be fixed with commit 50d3221f6c9befb0b9c02be9335047a8c82b29dc

[2012-11-05 18:28] #342 closed, assigned to gjospin

[2012-11-05 18:29] gjospin commented on #349
Fixed in commit 8708577eca08ae6d5eddf5b91d7e1d4fd5e56c1a

[2012-11-05 18:29] #349 closed, assigned to gjospin

[2012-11-05 18:29] gjospin commented on #339
Fixed in commit 50d3221f6c9befb0b9c02be9335047a8c82b29dc

[2012-11-05 18:29] #339 closed, assigned to gjospin

[2012-11-05 18:30] gjospin commented on #344
This should be resolved by now on Devel markers.

[2012-11-05 18:30] #344 closed, assigned to gjospin

[2012-11-05 18:30] gjospin commented on #346
Fixed in commit 919fac1517b2c5194ac3a20bc77f889101b17a55

[2012-11-05 18:30] #346 closed, assigned to gjospin

[2012-11-05 20:04] gjospin commented on #347
Fixed in commit ecab7fce559a79e78479a3bf179d2046516b944e

[2012-11-05 20:04] #347 closed, assigned to gjospin

[2012-11-05 20:10] koadman commented on #326
done.

[2012-11-05 20:10] #326 closed, assigned to koadman

[2012-11-05 20:11] gjospin commented on #359
I just ran the same file on Noisy using
<code>./phylosift.pl all -f --debug sample_seq/16S_NemMicrobiome_Aset_OCTUPUS_noChimeras_99 </code>
I get alignments for
16S long (428 seqs)
16S short (1481 seqs)
18S long (6 seqs)
18S short (57 seqs).

The 16S placement happened with no problem.
18S placement did not happen
<code>Naming taxa in marker 18s_reps
Uncaught exception: Failure("Reference trees fo

[2012-11-06 21:12] hollybik commented on #353
Code was changed to check to see if the lookup table is already there - if it is, don't rename (we don't want to rename twice). But if you run the client workflow again the lookup table would be deleted before the run continues.

Our sequences have original names which we turn into unique IDs and then convert back to the original sequence names

If you do search-->align-->place, you will still hav

[2012-11-07 20:53] koadman opened #362 "phylosift search does not report error when output directory already exists"
Reported by David Coil. Need to verify.

[2012-11-08 23:24] hollybik opened #363 "Missing tutorial data on devel branch download"
I just downloaded and unpacked the latest devel branch and it appears to be missing one of the tutorial data files (HMP_1.fastq.gz) in the tutorial_data folder. Not sure where it went.

Also checked last night's master build download but everything looks fine there.

[2012-11-08 23:30] hollybik opened #364 "Add headers to all summary output files to explain what information is contained in each column"
This has really been bugging me - and I think users will also get annoyed if they have to keep referring to the website documentation to remind themselves what columns mean what in each different output file.

[2012-11-09 17:02] koadman opened #365 "crash when two files are specified but --paired is not given"
If more than one file is given on the command-line but --paired is not specified, the right behavior would probably be to print a usage statement and exit.

[2012-11-09 17:41] koadman opened #366 "make the devel branch default to using the devel markers"
This can be done by adding a few lines to the packaging script that place the devel marker URL into the phylosiftrc at packaging time.

[2012-11-09 17:43] koadman opened #367 "require matching git versions between phylosift binary and libraries"
The git hash tag can be obtained at packaging time with `git describe --always`. We should investigate a way to use perl's version string matching during module load to ensure that matching versions of the modules always get loaded.

[2012-11-09 17:47] koadman commented on #354
done!

[2012-11-09 17:47] #354 closed, assigned to nobody

[2012-11-09 17:48] koadman commented on #330
This seems to be working, closing...

[2012-11-09 17:48] #330 closed, assigned to koadman

[2012-11-09 17:54] #365 closed, assigned to koadman

[2012-11-09 17:58] koadman commented on #363
Not sure why this disappeared, but re-added it in commit 0d018be

[2012-11-09 17:58] #363 closed, assigned to nobody

[2012-11-09 19:29] hollybik opened #368 "Take "web" folder out of the devel home folder in packaged PhyloSift download"

[2012-11-09 19:53] hollybik opened #369 "--output flag is not listed under the help dialogue for simulate mode, even though its a valid option"
Just need to add this in -

Currently running ./phylosift simulate --help does not list an --output flag under the options.

[2012-11-09 19:59] koadman commented on #369
actually `--output` is not supported, although maybe it should be.

[2012-11-09 20:02] #368 closed, assigned to koadman

[2012-11-09 20:21] hollybik opened #370 "Marker summary output on devel branch is looking funky"

[2012-11-09 20:35] hollybik opened #371 "Document --keep_search flag in the all mode help screen"

[2012-11-09 20:38] #371 closed, assigned to koadman

[2012-11-09 20:42] koadman commented on #370
??? can we please have some more details? funky like the chicken dance? or like your father's disco outfit?

[2012-11-09 20:48] koadman commented on #316
Fixed again. Incompatibilities had been introduced between tools/phylosift_benchmark and Benchmark.pm

[2012-11-09 20:48] #316 closed, assigned to koadman

[2012-11-09 20:49] gjospin commented on #370
The parsing appears to be broken and some probabilities are showing up as
markers.

On Fri, Nov 9, 2012 at 12:42 PM, Aaron Darling notifications@github.comwrote:

[2012-11-09 22:13] hollybik commented on #350
Yes they do! And all is now documented on http://phylosift.wordpress.com/tutorials/running-phylosift/phylosift-overview/

[2012-11-09 22:13] #350 closed, assigned to hollybik

[2012-11-09 22:22] hollybik commented on #370
funky like the open container of yogurt you left out on the counter for a week

[2012-11-09 23:00] gjospin commented on #351
Fixed and pushed to Devel.

[2012-11-09 23:00] #351 closed, assigned to gjospin

[2012-11-09 23:01] gjospin commented on #217
Done. Pushed to Devel.

[2012-11-09 23:01] #217 closed, assigned to gjospin

[2012-11-09 23:01] gjospin commented on #364
Done. Pushed to Devel.

[2012-11-09 23:03] gjospin opened #372 "default behavior for --chunks"
Currently on Devel --chunks is set to 1 when not specified by the user when running an individual step in the pipeline.

Should instead be unlimited (run to completion).

[2012-11-09 23:42] mayalowe opened #373 "Sequence Taxa summary files contain leading @ before read ID for fastq data"
This is what what throwing off Benchmark and getting the error I was seeing

[2012-11-12 21:25] hollybik opened #374 "Easier way for users to turn markers on/off - perhaps via command line flags?"
It would be good for users to have an easy way to turn markers on and off when running PhyloSift. I suggest we could do this as command line flags, because I think people will get annoyed if they have to prep lots of different custom marker files. For example, I doubt most people will care about running viral markers right now (and we have a lot of viral markers which slows down the computational

[2012-11-12 21:28] hollybik commented on #328
Its been a marathon, but finally have gone through the entire outputs page and command line page - restructured everything and added the new info about command line flags. Our website is now shinier and up to date!

[2012-11-12 21:28] #328 closed, assigned to hollybik

[2012-11-12 22:29] hollybik commented on #353
Expanded the description of "name" mode on the "Executing PhyloSift" page to give users more information about when and why they need to rename sequences: http://phylosift.wordpress.com/tutorials/running-phylosift/phylosift-overview/#name

[2012-11-12 22:29] #353 closed, assigned to hollybik

[2012-11-13 02:44] gjospin opened #375 "--extended doesn't produce any output"
The lastal DB gets generated using the following reference sequence headers:

1066/10669__641006681

This may be incorrectly interpreted when parsing lastal results.

Option 1:  Fix the parsing in FastSearch.pm
Option 2: Change the way sequences are being indexed as.

[2012-11-13 04:20] gjospin opened #376 "Weird behavior when indexing with --extended"
Build an index of the extended markers, this should have done all the hmmbuilds necessary.
Re launched an index on the extended markers, hmmbuild is still being triggered slowing the re-indexing.

[2012-11-13 06:39] koadman commented on #375
I vote for option 2. The only reason I can think of for keeping the prefix directory (option 1) is if we want to permit multiple markers with the same name in different directories. But there would be a LOT of other code that would need to change to support that, and it doesn't seem useful at all.

[2012-11-13 15:52] gjospin commented on #376
I just realized I may have launched the reindexing after the packaging change.
@koadman may have used a version of the extended markers that did not include HMMs which would be why I am having to rebuild them.

[2012-11-13 17:24] gjospin commented on #376
Mystery solved an old version of the extended markers was being distributed.
Aaron will make the new DB available.

[2012-11-13 17:24] #376 closed, assigned to gjospin

[2012-11-13 18:06] gjospin commented on #370
Funky indeed.  The sequence_taxa files parsing was updated to reflect the addition of the coordinates column however subsequent loops to capture the marker list were not.

I will push a fix soon.

[2012-11-13 18:07] gjospin commented on #359
This should be fixed with the most recent markerDB distribution

[2012-11-13 18:07] #359 closed, assigned to gjospin

[2012-11-13 18:21] gjospin commented on #373
Fixed in commit e9b7ed206988761d1ecebbf95cd0d51a3394c3c2

[2012-11-13 18:21] #373 closed, assigned to gjospin

[2012-11-13 18:54] hollybik commented on #356
All seems to be working smoothly with the bug fixes over the last few weeks - will post isolated issues if I find them.

[2012-11-13 18:54] #356 closed, assigned to hollybik

[2012-11-13 19:09] gjospin commented on #370
Fixed in commit 9a49bc2edf7c750e41f3e8638e0d25da6c6b053f

[2012-11-13 19:11] gjospin opened #377 "Integrate get_file function"
Recently added functions that return an array of files for all files of such type in a directory.
It would be nice instead to integrate such behavior to the functions that return a single marker file for that type.

[2012-11-13 21:14] hollybik opened #378 "Print results of Bayes factor tests into an output file"
Users will probably want to run Bayes factor tests for multiple lineages in their sample (e.g. I would probably run the Bayes factor test on interesting taxa I find while exploring the tree visualizations).

It would make sense to print these outputs to file instead of people having to remember to copy and paste.

[2012-11-13 21:19] hollybik opened #379 ""Illegal division by zero" error when running test_lineage mode"
On edhar I ran:
./phylosift.pl test_lineage --sample PS_temp/HMP_1.fastq.gz/ --marker concat --taxon 411471 --debug

Got the error message:

Found 1 nodes
nodes[0] name is 'SUBDOLIGRANULUM_VARIABILE_DSM_15176[411471]{985}'
mrca name is 'SUBDOLIGRANULUM_VARIABILE_DSM_15176[411471]{985}'
After including mrca subtree edges we have 1 target(s)
Looking on edges 985

Null hypothesis: taxa in this group

[2012-11-13 23:05] hollybik opened #380 "Method for conducting multiple Bayes factor tests - e.g. for 10s or 100s of taxon IDs"
People will also probably want to perform Bayes factor tests on many different taxon IDs - I think it would be worthwhile add support for input file containing a list of taxon IDs, which can be sequentially tested and the Bayes factor test results printed to an output file.

[2012-11-13 23:29] hollybik commented on #348
Added a tutorial page for Bayes factor test: http://phylosift.wordpress.com/tutorials/running-phylosift/bayes-factor-tests/  (will expand this further if needed, but it should at least give users the basic low-down for now).

Also advertised our new test_lineage feature on the homepage and Twitter (autotweet from hompeage).

[2012-11-13 23:29] #348 closed, assigned to hollybik

[2012-11-14 00:04] gjospin commented on #370
I guess, it hasn't been fixed, I will need to investigate more.

[2012-11-14 07:34] #379 closed, assigned to koadman

[2012-11-14 16:11] gjospin commented on #370
Unknown assignments are being printed with 2 probabilities.  Is that intended?

<code>$unclassifiable->{qname} / $placecount</code>
AND
<code>$unclassifiable->{$qname}

[2012-11-14 16:36] gjospin commented on #375
Neither options were picked, the problem stemmed from a lingering $Phylosift::Utilities variable (should be $Phylosift::Settings) .

Fixed in b5a3eeabfb6b125049a9dc8f68e4725f99caa47d

[2012-11-14 16:36] #375 closed, assigned to gjospin

[2012-11-14 16:47] gjospin opened #381 "placement on codon markers using --extended"
We do not currently provide codon versions of our markers for the --extended set.
Should skip anything codon related when --extended is set for now and until we perform a DBupdate on --extended.

[2012-11-14 16:52] gjospin commented on #381
Fixed with 7d99c3b9e81704621405e5cdf91161b477ed39f5

[2012-11-14 16:52] #381 closed, assigned to gjospin

[2012-11-14 17:13] gjospin commented on #370
Fixed in commit 2e7d808f3349a06a55bd4343d2735f5b80080a5d

[2012-11-14 17:13] #370 closed, assigned to gjospin

[2012-11-14 17:14] koadman commented on #370
Did you know you can close directly from your commit message? Just put something like Closes #370 in the message and not only will it close but the commit hashtag will be linked!

[2012-11-14 19:14] koadman commented on #364
Need to ensure headers do not appear in the middle of files from merged chunks

[2012-11-14 19:20] koadman opened #382 "allow --continue to continue a previous run that failed in `all` mode"

[2012-11-14 21:18] gjospin commented on #382
Already implemented. No change required.

[2012-11-14 21:18] #382 closed, assigned to nobody

[2012-11-14 21:44] gjospin commented on #372
This is going to be much trickier than anticipated.
We are currently launching later stages whenever the mode isn't all or search.
However we are not able to recover back to a search step from a summarize step whenever we did not launch using the all command (even search will return from FastSearch.pm).

If we want to be able to continue past summarize from a particular chunk, we will have to run

[2012-11-14 21:48] gjospin commented on #372
Current behavior when continue is enabled is as follows.

Run the appropriate step. Continue to summarize for the particular chunk specified.  Then loop through all the other specified chunks but never changing the step away from summarize.

[2012-11-17 04:06] mayalowe opened #383 "Error in Summarize.pm when running non-paired end data"
Running phylosift all on the simulated dataset I use for benchmarking; here's an excerpt of the error:

Use of uninitialized value within %name_mapping in concatenation (.) or string at /home/elowe/PhyloSift/bin
/../lib/Phylosift/Summarize.pm line 820, <$FH> line 1.
Use of uninitialized value within %name_mapping in concatenation (.) or string at /home/elowe/PhyloSift/bin
/../lib/Phylosift/Summari

[2012-11-17 05:39] gjospin commented on #383
Where can we find the data set ?

On Fri, Nov 16, 2012 at 8:06 PM, Eric Lowe notifications@github.com wrote:

[2012-11-17 05:59] mayalowe commented on #383
Ahh yes, sorry about that.

Edhar:~elowe/sim_data1/knockoutexp_ill_fastq-reads.fastq

[2012-11-17 14:53] koadman commented on #383
I saw this same error on the grinder_illumina dataset used by the benchmark server. The code seemed to continue past it to produce meaningful results, but it's an awfully ugly set of messages.

[2012-11-17 15:23] gjospin commented on #383
This is happening when renaming on (in alignDir)
.unmasked and codon.updated._.fasta but not on .updated._.fasta or
newCandidate.aa files.

Results should be fine. And all other files seem to not have that problem
when renaming.

On Sat, Nov 17, 2012 at 6:53 AM, Aaron Darling notifications@github.comwrote:

[2012-11-17 15:26] gjospin commented on #383
So, this is just speculation but maybe we have a slightly different format for writing out the two files previously mentioned so the regex used to convert from unique IDs to original IDs does not work.
I will try to get around to it this afternoon if no one has done so by then

[2012-11-17 21:56] #383 closed, assigned to gjospin

[2012-11-19 22:06] koadman opened #384 "allow .jnlp files to work after being copied to other machines"
Currently the .jnlp files to view fat trees use a filesystem-local path as their java codebase. If possible, it would be ideal to change this so that the files can be moved from one machine to another, either using relative paths or some other means.

[2012-11-19 22:07] koadman opened #385 "create a release script"
Releases work by:
- building a package with appropriate version labeling
- running tests
- posting to the release web site
- tagging the git repository

This process should be automated to prevent human error.

[2012-11-19 22:11] koadman opened #386 "investigate strict version dependency between phylosift front-end and libs"
The `only` module in perl allows the inclusion of specific module versions. This could be used to ensure that when running the phylosift front-end script the matching versions of all phylosift perl modules get loaded. It should be possible to automate version stamps in the standalone builds that are based on the git hashtag, which would need to be converted from hex to a decimal number.

[2012-11-21 01:22] koadman commented on #343
I posted this to http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/releases/

Holly did some testing and found no obvious problems.

@hollybik can you close when web site updating and social media announcements are complete?

[2012-11-26 17:28] #372 closed, assigned to gjospin

[2012-11-26 17:28] #364 closed, assigned to gjospin

[2012-11-26 17:53] hollybik commented on #343
I went through the website pretty extensively over the last few days to fix all the remaining documentation and make sure everything is now up to date and reflecting the command line structure in our v1.0.0 release. Also updated the workflow diagrams since some were outdated (commit b38b151f2395a4128386bb5929a35459ab0d6f00).

Have now officially announced our v1.0.0 release on the web and twitter.

[2012-11-26 17:53] #343 closed, assigned to hollybik

[2012-11-26 17:55] hollybik opened #387 "Improve website functionality - upgrade to Wordpress.org account?"
Our current website has limited functionality because we're mooching off a free wordpress.com account. Some features would really improve our web presence, like javascript emebedding and plugins that can read LaTeX syntax - these would only be available if we bit the bullet and paid for Wordpress upgrade.

[2012-11-26 20:00] gjospin commented on #374
Coded an implementation to the branch 20121126_marker_flags.
@koadman will need to add 4 marker_list files to the marker DB package.
those files have been uploaded to edhar @ /home/koadman/phylosift/new_marker_lists

Assigning issue to @koadman.

[2012-11-26 21:20] gjospin opened #388 "get_place_output_all_jplace is not looking in the right directory on master"
Changed from looking in blastDir to treeDir.

[2012-11-26 21:21] gjospin commented on #388
Fixed on Master with commit 8a3b71b1de973f515e6a1f40ffccb24605408a4d

[2012-11-26 21:21] #388 closed, assigned to gjospin

[2012-11-26 22:07] gjospin opened #389 "clean_up_chunk"
Chunk clean up also removes sequence_taxa files from other chunks.  Bug is on Master within the following functions:
get_summarize_output_all_sequence_taxa_summary
get_summarize_output_all_sequence_taxa

Related to issue #377.

[2012-11-27 18:48] gjospin commented on #374
Changed the eukaryote_list.txt to not include the rRNA markers.
Added the --rRNA flag and use of the rRNA_list.txt file in commit 1e38e6360d548c5b9d4a36add2e1796d191fa40e

I will update the files on edhar to go into the markerDB package.

[2012-11-28 23:26] accaldwell opened #390 "Add probability information to Krona output"
It would be nice to have the generated probability values added to the generated Krona output, similar to the type of Krona output that can be generated from PhymmBL.

[2012-11-29 19:45] hollybik commented on #278
Closing this issue - John has now made libraries for all but 3 of the samples (and he is finishing off the last 3 this afternoon), so now we just have to submit and wait for sequences. Wahoo!

[2012-11-29 19:45] #278 closed, assigned to hollybik

[2012-11-29 19:48] hollybik opened #391 "Website page explaining manual Phylosift workflow"
People are going to get confused about the flags and chunks if they run their samples manually. I think this will be best explained on a dedicated website page so that we don't get tons of queries in the GoogleGroup.

Will write up notes from my chat with Guillaume:

Use chunks >1 only if using all mode, and NOT using continue.

Use all --continue is only if the run breaks halfway though.

Using -

[2012-11-29 19:59] koadman opened #392 "Viral marker packages missing taxit taxonomy"
This is causing scary error messages that look like:

[code]

[2012-11-30 18:27] gjospin opened #393 "pplacer.pm dies when a marker package is not present"
croak is being invoked when a marker package is not present.  Thus not outputting results for markers that may be present but processed later in the pipeline.

[2012-11-30 18:29] gjospin opened #394 "Clean up extended marker DB"
With 50k markers that are problematic (low number of sequences or the sequences are identical) we should probably remove those markers from the DB.
This would result in faster downloads and indexing. It would also remove thousands of error messages.

[2012-12-05 19:26] hollybik opened #396 "Investigate a search engine optimization strategy for the PhyloSift website"

[2012-12-05 19:29] hollybik opened #397 "Tutorial video for running PhyloSift"
liaise with David to help put this together and posted on YouTube

[2012-12-05 19:33] hollybik opened #398 "Test suite for automatically checking for code bugs before release packaging"

[2012-12-05 19:42] hollybik opened #399 "Look into lingering issues for Eukaryote data analysis"
Look at rRNA markers (correct tree placement, taxonomic proportions)
Look at Parfrey markers (updated vs. non-updated markers - how does this impact tree placement and outputs; do we have broad enough taxonomic coverage for doing adequate eukaryotic metagenome analysis?)

[2012-12-07 20:33] koadman opened #400 "test_lineage does not correctly calculate subtree under MRCA when multiple --taxon arguments are given"
When run in this mode, phylosift is supposed to do a hypothesis test on all lineages of the clade, but the clade membership is not being calculated.

[2012-12-07 20:34] #400 closed, assigned to koadman

[2012-12-10 18:27] DBiteng opened #401 "Phylosift Marker - Missing Taxon Maps 2176/217691, 2781/278137, 2683/268328"
Hi. I am running phylosift against my data and have the following taxon maps missing. How do I fix this? Please help! Thanks much.

 2176/217691, 2781/278137, 2683/268328

[2012-12-10 18:35] gjospin commented on #401
It looks like you are running using the --extended flag.  The extended
database is still a work in progress. We are working to clear out some of
the bugs from the downloadable extended markers.
This is a known issue however it will not affect the validity of the
results, those problematic markers will not be taken into consideration
when compiling the summary files at the end of the pipeline.

On

[2012-12-10 20:29] DBiteng commented on #401
Hi. Unfortunately, I couldn't get any hits out of the --updated marker option. Is there something I am missing? Thanks.

[2012-12-10 20:37] gjospin commented on #401
Can you post the command you are using as well as error messages that show
up please?
--updated is an old option that may not be necessary with the current state
of the code.

A standard command would look like:

On Mon, Dec 10, 2012 at 12:29 PM, DBiteng notifications@github.com wrote:

[2012-12-10 21:46] DBiteng commented on #401
Hi. This is the command I am using:

./phylosift all -f --debug --updated <sequence file>

The inputs are samples from: http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=SRP003167

Will post runtime msgs in awhile. Still waiting for a job to finish. Thanks!

[2012-12-11 18:18] hollybik opened #402 "PhyloSift run info text obscuring read placement info in Krona report"
PhyloSift run information printed into the Krona report is currently obscuring the information about reads placed in the upper right hand corner (see screenshot below from run that finished on our v1.0.0 beta release). This is particularly bad when viewing the "all markers" Krona.

![Screen Shot 2012-12-11 at 10 14 46 AM](https://f.cloud.github.com/assets/1392119/6415/f1c8e68c-43be-11e2-98d5-b9665

[2012-12-11 20:22] gjospin opened #403 "--extended not getting used when running the update"
The --extended flag doesn't seem to be used when running the scanning part of the update.

[2012-12-11 20:30] gjospin commented on #403
Collate_marker will need to look for extended markers as well.

[2013-01-07 23:15] ewilbanks opened #404 "taxon not found in alignment ?"
Hey Phylosifters,

I'm getting the following error trying to run phylosift (on our edhar server).  It's currently just sitting there (top says its running perl) - I'm guessing it's stuck?    Any thoughts?

--Lizzy
......
Found newer version of the marker data
Downloading from http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift_markers/markers.tgz
Inside index_marker_db
Found newer version of

[2013-01-08 05:10] gjospin commented on #404
You are not stuck. The pipeline is still going just processing some other
information.
This marker would end up not showing up in the end summaries as it was not
fully processed.
We need to know what marker this is coming from. It could come from a
marker that hasn't been run through a recent update.  We could tell by
getting some output when using the --debug flag when running PS.

Thanks for the

[2013-02-10 16:47] gjospin opened #405 "Individual steps broken"
Looks like running individual steps (search or align) are broken.

Can't use an undefined value as a HASH reference at /home/ewilbanks/software/phylosift_v1.0.0_01/bin/../lib/Phylosift/Command/all.pm line 75.

This problem is live on the release.

[2013-02-10 16:50] #405 closed, assigned to gjospin

[2013-02-14 20:37] gjospin opened #406 "Missing package version"
Need to package the version package with PS. Doesn't seem to be included in standard perl distributions.

[2013-02-19 20:04] gjospin opened #407 "build_marker not working right"
Not all functions were modified to use the full header of a sequence instead of what bioperl identifies as the ID.
So we are adding to our mapping hash (in mask_and_clean_alignment) the bioperlID but later when we are in generare_id_to_taxonid_map, we are using the full header therefore none of the sequences get added to the taxonid_map.

[2013-02-19 20:39] #407 closed, assigned to gjospin

[2013-04-30 23:22] gjospin opened #409 "Change citation in PS output"
We should probably change the citation line in the PS output to include all authors.
We also could wait for that until the paper is actually published but since we should see an influx of traffic when that happens maybe changing ahead of time and repacking a release could be good too.

[2013-05-03 00:47] sbranco opened #410 "Installing Phylosift"
Hi,

I'm having problems installing Phylosift - am sending the error below. Any suggestions?

Thanks!

Sara

[sbranco@vector phylosift_v1.0.0_01]$ bin/phylosift -h
Can't locate version.pm in @INC (@INC contains: /usr/lib64/perl5/site_perl/5.8.8/x86_64-linux-thread-multi /usr/lib/perl5/site_perl/5.8.8 /usr/lib/perl5/site_perl /usr/lib64/perl5/vendor_perl/5.8.8/x86_64-linux-thread-multi /usr/lib/per

[2013-05-03 03:56] gjospin commented on #410
Hello,
It doesn't look like we are distributing the version.pm perl module with PhyloSift.
I would recommend installing version.pm directly and adding its location to your $PERL5LIB variable.  Or if you can install it globally on your machine it might be easier than modifying the $PERL5LIB variable.
Here is the cpan page for the module you are looking for.
http://search.cpan.org/~jpeacock/version-

[2013-05-13 18:27] gjospin opened #411 "run_info.txt is inaccurate"
When running multiple chunks, the md5 representation of the sequences is always labeled/assigned to chunk 1 when the number should be incremented.

[2013-05-23 17:31] atremain opened #412 "Trying to run a Qiime-produced seqs.fna file through Phylosift"
Hi there,

I encounter this error when I attempt the './phylosift all' command on a seqs.fna file that was produced in Qiime:

hmmalign(23223) malloc: **\* mmap(size=16777216) failed (error code=12)
**\* error: can't allocate region
**\* set a breakpoint in malloc_error_break to debug
Fatal exception (source file p7_trace.c, line 98):
malloc of size 1024 failed
hmmalign(23440) malloc: **\* mmap(si

[2013-05-29 10:16] Mikeyj commented on #410
Hey - I'm having an install problem too - though a different issue I think.  After unzipping and attempting to run the suggested first command I get:

[code]

Looks like perl not set up quite right for this, does it look like missing modules again? Thought it might be a perl version problem given the mention of weak references not being implemented?

Cheers

Mike

[2013-05-29 22:52] koadman commented on #410
Yes looks like a missing perl module, Class::Load. The quickest fix
might be to install it via CPAN. I notice that the version of perl on
your system is 5.8.8, which we have been using successfully on CentOS
linux.

On Wed, 2013-05-29 at 03:16 -0700, Mikeyj wrote:

[2013-05-31 03:54] gjospin commented on #412
This looks like an hmmer problem. It could be that your OS does not like the version we packaged within PhyloSift.
What OS are you running? Can you post the full command you used to generate such output and maybe a sample (2 to 3 reads) of the sequences you are trying to run?

Thank you.
Sorry for the slow response time.

[2013-06-03 17:28] atremain commented on #412
No worries, thanks for the help.

I'm running version 10.8.3.

I lost track of the original commands I ran to get the above errors, but after running a very similar command -

"MMIC-7571:phylosift_v1.0.0_01 atremain$ ./phylosift all ../Shared_Folder/Data_DogRhesus/slbruno/seqs.fna"
- I get a similar error as previously encountered:

hmmalign(38080) malloc: **\* mmap(size=16777216) failed (error co

[2013-06-03 17:33] gjospin commented on #412
This doesn't seem to be in fasta format.
Read headers should start with >

On Mon, Jun 3, 2013 at 10:28 AM, Andrew Tremain notifications@github.comwrote:

[2013-06-03 17:46] atremain commented on #412
It's definitely in fasta format, it seems the > character was changed into a formatting command by the blog itself.

[2013-06-03 21:57] koadman commented on #412
agree, that doesn't look like any FastA I've seen before (unless the >
somehow got eaten by the email app).

On the other hand, phylosift could be more helpful with it's error
message. A sanity check on the input & error message like "Sorry your
data appears not to conform to FastA or FastQ formats, please check your
input file" would be an improvement.

On Mon, 2013-06-03 at 10:33 -0700, Guillaum

[2013-06-04 00:06] atremain commented on #412
Didn't mean to close the issue... But the file is in fasta format, like I said before, the formatting on this site just changes a > to something else. For example, I'll make a mock fast below:

[2013-06-07 16:41] #411 closed, assigned to gjospin

[2013-07-06 17:31] gjospin opened #413 "Reading zipped file not working on Macs"
Apparently it is adding a .Z at the end of the file names when trying to read zipped files on a Mac.

[2013-07-06 17:32] gjospin opened #414 "Downloading markers isn't using $marker_dir"
The markers don't get unzipped in the correct directory after they get downloaded when something other than the default value is used for $marker_dir

[2013-07-08 19:15] gjospin commented on #413
Can't reproduce the error on my Davis Mac.
Will check on a computer that showed such error.

[2013-07-12 19:58] #404 closed, assigned to nobody

[2013-07-17 22:47] gjospin commented on #413
Found this website that explains a work around.
http://od-eon.com/blogs/calvin/zcat-bug-mac-osx/

[2013-07-17 22:47] #413 closed, assigned to gjospin

[2013-07-18 17:54] gjospin opened #415 "Indexing can happen twice"
When indexing the DB with markers not being already present, the actual indexing part can happen twice instead of only once.

[2013-07-18 18:30] gjospin opened #416 "Remove superfluous error messages"
When indexing, some error messages appear when trying to index 16s and 18s markers for short reads. Those should not undergo the same process and the scary error messages should be removed.

[2013-07-18 19:35] koadman opened #417 "LWP modules incompatible with some systems"
On some systems the perl modules used for marker download fail to load. This currently prevents phylosift from running at all on such systems.

[2013-07-18 19:38] koadman opened #418 "Database needs regular updates launched with cron"
The core marker database needs to be regularly updated. The most recent update was nearly a year ago, yet an automated system has been written to run the updates. Many valuable new genomes have been published since the last update such as the single-cell GEBA genomes.

[2013-07-18 19:45] koadman commented on #410
These dependencies should either be included in the next phylosift release or documented as required to be manually installed on systems that have older perl installations

[2013-07-18 19:46] koadman opened #419 "16s_reps_bac taxonomy is wrong"
The 16s_reps_bac marker includes a taxonmap that is egregiously incorrect

[2013-07-18 19:48] gjospin opened #420 "Overhaul readconciler to allow for paralogs"
Readconciler was written for single taxonIDs in mind within the same tree.
When allowing paralogs, there seems to be reconciling issues.

Issues were first identified when I updated Lizzy's dsrAB marker allowing for paralogs and the taxonomy stopped making sense.

[2013-07-18 19:49] koadman opened #421 "create .jnlp for rrna markers"
The 16S and 18S markers are very useful because they have much more comprehensive coverage of the microbial diversity than genome databases. Many users will want to view their samples on these reference trees.

[2013-07-18 19:53] koadman opened #422 "only produce an "allmarkers" krona plot on extended"
The allmarkers krona plots appear to be misleading on the core marker database. This might be entirely due to the problem with the 16S taxonmap, but even if so, this output is really most useful in the extended DB and otherwise tends to confuse users.

[2013-07-18 19:55] koadman commented on #406
In the past, the standalone packaging script DID include version.pm but it was removed because it was incompatible with many newer systems. Starting with perl 5.10, version.pm is built right into perl itself. So the correct way to handle this issue is not entirely clear.

[2013-07-18 20:16] koadman opened #423 "manual marker database downloads not automatically indexed"
When the marker database gets downloaded automatically, phylosift indexes it immediately after download. When it is downloaded manually, one must currently call `phylosift index` before using the database. This requirement is not obvious to users such as biomickwatson. phylosift should detect that the database needs indexing and either index it or print a message to the screen asking the user to d

[2013-07-18 20:18] koadman opened #424 "incorporate new versions of pplacer and guppy"
Erick Matsen says that the posterior probability calculations have been sped up substantially in newer pplacer versions. This is great news since the p.p. calc is one of the slowest parts of a phylosift run right now. Need to incorporate the new pplacer release.

[2013-07-18 22:15] gjospin opened #425 "Add File::NSFLock to packaging"
Need to add the NSFLock module to the packaging utility

[2013-07-19 04:21] koadman commented on #412
I was not able to reproduce this issue on my laptop. Based on the hmmalign error message, it seems likely that hmmalign and other running programs exhausted all available RAM on @atremain 's computer. On my system with 8GB memory the analysis works using phylosift v1.0 beta on the sequences pasted in this thread. Closing, but please reopen if there's more to the issue than a simple out-of-memory c

[2013-07-19 04:21] #412 closed, assigned to nobody

[2013-07-19 06:52] #409 closed, assigned to gjospin

[2013-07-19 13:11] gjospin commented on #416
closed in commit ed54786ec24778a0c6cd1b79f6e9a7ed05dd411c

[2013-07-19 13:11] #416 closed, assigned to gjospin

[2013-07-19 13:11] gjospin commented on #415
fixed in commit ed54786ec24778a0c6cd1b79f6e9a7ed05dd411c

[2013-07-19 13:11] #415 closed, assigned to gjospin

[2013-07-19 13:12] gjospin commented on #414
Fixed in commit ed54786ec24778a0c6cd1b79f6e9a7ed05dd411c

[2013-07-19 13:12] #414 closed, assigned to gjospin

[2013-07-19 13:15] gjospin commented on #389
Changed those two functions to accept a chunk number. If a chunk number is not specified, return the appropriate files for all chunks

[2013-07-19 13:15] #389 closed, assigned to gjospin

[2013-07-19 13:29] gjospin commented on #360
Fixed using NSFLock to allow locking over the network.
flock works great as long as you don't have to go through a network.
Fixed in ed54786ec24778a0c6cd1b79f6e9a7ed05dd411c

[2013-07-19 13:29] #360 closed, assigned to koadman

[2013-07-20 04:12] gjospin opened #426 "Clean up flock"
The file lock system was first implemented using flock but we moved away from it.  We should remove the flock commands that were commented out.

[2013-07-20 04:13] gjospin opened #427 "Change the file lock to SHARED"
Currently using a non blocking rule for the file lock. This is not quite right. SHARED seems more appropriate.

[2013-07-20 04:16] gjospin opened #428 "Investigate the uncomment of join_trees in updateDB"
Line 154 in lib/Phylosift/Command/dbupdate.pm got un commented. Not sure if it was intentional.

 #Phylosift::UpdateDB::join_trees( marker_dir => $marker_dir );

[2013-07-22 05:40] #384 closed, assigned to koadman

[2013-07-22 05:41] #422 closed, assigned to koadman

[2013-07-22 05:43] #369 closed, assigned to koadman

[2013-07-22 13:53] hollybik commented on #387
After 6+ months of going back and forth with UC Davis admin, our attempt to transfer our domain over to Dreamhost and purchase a long-term hosting package failed miserably. UC Davis has recently been denying requests to use external paid services such as Dropbox and Wordpress (we also had issues with renewing these services for microBEnet), and would not approve purchase orders. There were additio

[2013-07-22 13:53] #387 closed, assigned to hollybik

[2013-07-22 16:15] gjospin commented on #427
Fixed in commit 4ba917e3dc126e14d68b085b420daf8859cab2de

[2013-07-22 16:15] #427 closed, assigned to gjospin

[2013-07-22 16:16] gjospin commented on #426
fixed in commit 4ba917e3dc126e14d68b085b420daf8859cab2de

[2013-07-22 16:16] #426 closed, assigned to gjospin

[2013-07-22 16:33] gjospin commented on #425
Added in commit 31e437a8fca03af63556fe27a9f057512840d13c

[2013-07-22 16:33] #425 closed, assigned to gjospin

[2013-07-22 16:36] gjospin commented on #428
closed in 8d2a3ea449f58180b6e4e471562cd305da47a5eb

[2013-07-22 16:36] #428 closed, assigned to nobody

[2013-07-22 18:00] gjospin commented on #362
Tested and confirmed.
Correct behavior should be warn and exit asking for -f to be used.

[2013-07-22 19:01] gjospin commented on #362
Fixed in bec295c4a87fa270375039079034e5f2165deb63

[2013-07-22 19:01] #362 closed, assigned to koadman

[2013-07-22 19:10] gjospin commented on #338
The current system replaces the whole header line by an ID number to which we add /1 and /2.
Not sure if this is still needed.

[2013-07-22 19:48] gjospin commented on #393
Fixed in commit f2b50a1150f009447c0dfa8d6dbf232042fe7635

[2013-07-22 19:48] #393 closed, assigned to gjospin

[2013-07-22 22:59] koadman commented on #338
Is it able to recognize paired reads and distinguish them from unpaired reads?

[2013-07-22 23:38] koadman commented on #207
probably the best way to solve this is to create a function called, e.g. Phylosift::Utilities::sanitize_path($) that takes as a single argument a path and returns a clean version with the special characters escaped. Then that function can be called from wherever paths need to be cleaned up.

[2013-07-23 00:35] koadman commented on #78
What is the status of this? I wonder if it's nearly done?

[2013-07-23 00:44] gjospin commented on #78
I'd have to check but I think we are still accommodating for both.

Sent from my iPhone

On Jul 22, 2013, at 5:35 PM, Aaron Darling notifications@github.com wrote:

[2013-07-23 06:05] koadman commented on #424
Need help from @matsen on this one. The pplacer builds on the pplacer web site target linux kernel 2.6.24 and os x 10.7+, whereas the rest of our tools work with 2.6.15+ and os x 10.5+. Attempts to rebuild on OS X 10.5 are failing...

[2013-07-23 06:23] #423 closed, assigned to koadman

[2013-07-23 22:02] matsen commented on #424
We don't have access to a machine that has OS X 10.5. If you can supply
access we should be able to set up a buildbot on it.

On Mon, Jul 22, 2013 at 11:05 PM, Aaron Darling notifications@github.comwrote:

##

Frederick "Erick" Matsen, Assistant Member
Fred Hutchinson Cancer Research Center
http://matsen.fhcrc.org/

[2013-07-24 00:06] koadman commented on #424
thank you @matsen !
will be in touch with an IP & login creds.
is the linux 2.6.15 bit do-able?
UCD's cluster compute system is on 2.6.18 and I assume there are many
other compute clusters out there that get updated all-too-infrequently.

On Tue, 2013-07-23 at 15:02 -0700, Erick Matsen wrote:

[2013-07-24 00:46] matsen commented on #424
Well, could we build on your linux server too? Folks around here are rabid
about updating.

On Tue, Jul 23, 2013 at 5:06 PM, Aaron Darling notifications@github.comwrote:

##

Frederick "Erick" Matsen, Assistant Member
Fred Hutchinson Cancer Research Center
http://matsen.fhcrc.org/

[2013-07-25 19:03] gjospin commented on #338
No. We either read 1 read from each files or we read 2 consecutive reads from a single file and pair those.

[2013-07-25 19:18] koadman commented on #338
I see. I recall a time where FastSearch.pm was checking that the headers of neighboring reads in the input files match, and would treat that set of reads as unpaired if not. That behavior supported interleaved FastQ where some reads had been filtered out due to e.g. quality or other issues. The code doesn't support that now and I wonder if this issue was added back when it did.

What to do with th

[2013-07-25 19:22] koadman commented on #338
^---- as much as i like error checking (1) might be good for this sprint, and save 2 or 3 for later?

[2013-07-25 19:23] gjospin commented on #338
I agree, it would require quite a bit of testing and the quick thoughts I've had on the strategy ended in a particular scenario being hard/annoying to deal with.
I vote "save for later"

[2013-07-25 19:24] gjospin commented on #338
Also, this fell in the "garbage in, garbage out" category in a previous discussion.

[2013-07-25 19:27] koadman commented on #424
my os x 10.5 build mac is locked in an office in Davis, I don't have the IP, and the person with the key is out all week!

For linux, I can set up a build VM and send login creds but don't have admin privs to hand out access to UC Davis' (ancient) CentOS 5.3 cluster machines.

[2013-07-25 19:30] koadman commented on #338
one thing that makes me feel better about postponing this is that incorrectly paired reads are exceedingly unlikely to hit the same marker in a metagenomic analysis. so they would effectively be treated as unpaired anyway. 16S amplicon data on the other hand...

[2013-07-25 19:39] gjospin opened #429 "--paired requires correctly paired read"
Need to document the requirement on having correctly paired reads without orphans when using the --paired flag.
Interleaved files are acceptable.
I didn't find much about the actual workings/requirements of --paired on the website but we might need to adjust things there in addition to the readme/command help

I don't think the following is appropriate anymore:

--paired             Looks for 2 in

[2013-07-25 21:33] gjospin opened #430 "marker_summary is empty"
marker_summary.txt in the top level directory of a PS run seems to be empty whereas the blastDir and alignDir marker_summary files are populated as intended.

[2013-07-30 17:43] gjospin commented on #430
This happened because the taxonmap file was missing from custom built markers.
Summarize gets skipped for all markers that don't have taxonmap files and the marker summary gets generated according to the hash generated in Summarize.
Maybe we should parse Jplace files directly instead of relying on the summarize step.

[2013-08-01 22:04] gjospin commented on #421
Are we also looking at add .html and .xml for those markers as well?

[2013-08-01 22:56] koadman commented on #421
it would be nice to have the 16S, 18S, and concat all in the same xml -- then we don't need to touch the .jnlp. `guppy fat` can create a single xml with many .jplace embedded.

[2013-08-01 22:56] koadman commented on #421
no need to think about .html here as far as i can tell.

[2013-08-02 19:17] gjospin commented on #421
Actually, I think we do need to worry about it because add_jnlp requires a file handle that's related to the html file.
I think however that we don't need to add one file per marker, we can just add a link to the all the markers needed within the 1 html file for the whole sample.

I think I'm close to a resolution for this issue.

[2013-08-02 21:27] gjospin opened #431 "html reports are hard coded"
should add a function called get_html_report returning the path to the html report(s).
Right now all those are hard coded.

Should also add get_xml and maybe get_jnlp both needing a marker to be specified.

Not sure if this needs to be part of the V1.0 sprint.

[2013-08-02 22:02] gjospin commented on #402
Should be fixed with b0b4232754532532cf63f8c7ea7b007928cadccf
Also moved the link to view phylogenetic placements at the bottom of the page where it is less likely to be interfering with the krona buttons.

[2013-08-02 22:02] #402 closed, assigned to gjospin

[2013-08-12 02:19] gjospin opened #432 "package_standalone.pl is not working"
Apparently the packager hasn't been working for months.

[2013-08-12 02:21] gjospin commented on #432
Closed from commit ccec30f1437c73e1a841b1c944ff9de863da6786
I fixed the dependencies and requirements for the Devel branch.
Updated some urls that were no longer available.
Fixed mv_cmd that were not always working in a default way.
Added some modules that needed to be included.

Tested the fresh install on Merlot with only the libs from the PS directory.

[2013-08-12 02:28] gjospin commented on #432
Correction from previous comment: Tested on Master branch as working.
Will start working on the Devel branch in preparation for merging of the branches.

[2013-08-12 02:42] gjospin commented on #432
Fixed the packaging script to accomomdate for the Devel branch as well.
Pushed on Devel in commit c72a9ec944763dadb07dd2cef863ed9cd00187fc

[2013-08-12 02:42] #432 closed, assigned to gjospin

[2013-08-12 22:59] koadman opened #433 "summarize does not work by itself"
The following command should produce a single chunk summary, but has no effect:
`phylosift summarize --chunks 1 --chunk_size 2000 --output=results sewage.fq`

[2013-08-13 12:03] #417 closed, assigned to koadman

[2013-08-13 12:07] koadman commented on #421
@gjospin implemented this one. done and dusted!

[2013-08-13 12:07] #421 closed, assigned to koadman

[2013-08-13 16:43] gjospin commented on #433
Had the summarize step been flagged as completed in the run_info.txt file?
If it did, then PS skips that step.  Remove the line from run_info.txt.
Using -f should clean up the files for the particular chunk and force the step to get flagged as incomplete.

[2013-08-13 17:41] gjospin opened #434 "LWP error"
The addition of the LWP require inside of Utilities is causing an warning to show up on both Noisy and Merlot tests.

Unable to load LWP::Simple, unable to check for updates to or download the NCBI taxonomy. at /home/gjospin/git/PhyloSift/lib/Phylosift/Utilities.pm line 610.

[2013-08-13 22:39] koadman commented on #433
yes. it's listed as complete. thanks for the -f tip. When I add -f I get zillions of these:
`Use of uninitialized value in concatenation (.) or string at /home/koadman/software/phylosift_20130813/bin/../lib/Phylosift/Summarize.pm line 367.
Use of uninitialized value in concatenation (.) or string at /home/koadman/software/phylosift_20130813/bin/../lib/Phylosift/Summarize.pm line 367.
Use of uninit

[2013-08-13 23:00] gjospin commented on #433
Interesting. I'll check it out.
Thanks.

On Tue, Aug 13, 2013 at 3:39 PM, Aaron Darling notifications@github.comwrote:

[2013-08-14 11:34] koadman commented on #413
Fixed directly in phylosift via commit 039dac9
solution was to replace `zcat` with `gzip -dc`

[2013-08-14 11:56] koadman commented on #406
A version.pm is being included in the "legacy" folder. This gets conditionally included when perl is < 5.1, as judged by `$[`. This bug re-emerged when the Command.pm interface was added because version.pm needed to be loaded at the earliest entry-point into phylosift, which shifted from Utilities.pm to Command.pm.

[2013-08-14 11:57] #406 closed, assigned to gjospin

[2013-08-14 12:00] koadman commented on #410
This should be fixed now on the devel branch.

[2013-08-14 12:00] #410 closed, assigned to nobody

[2013-08-14 15:47] koadman opened #435 "Notify user of new DB version but do not automatically update"
Right now updates happen automatically. Many users will not like this behavior because they will want all their analysis with a single version of the database. A new subcommand should be created to run the db download, and instead of autodownload the user can be told to run that subcommand when they want to update.

[2013-08-14 22:32] gjospin opened #436 "Clean up UpdateDB"
Launching jobs generated thousands of job tracking files for the scans and marker builds.

We should move them to a special location to avoid having 30k junk files in the launch directory.

[2013-08-15 22:53] koadman commented on #434
Fixed by eliminating LWP from included modules, only checking for updates if LWP is already present on the system.

[2013-08-15 22:53] #434 closed, assigned to koadman

[2013-08-15 22:58] #435 closed, assigned to nobody

[2013-08-15 23:00] koadman commented on #310
@hollybik status update?

[2013-08-16 02:08] koadman commented on #430
If this only happens on markers without taxonmaps (e.g. custom) I propose we remove it from the v1.0 sprint to be addressed later.

[2013-08-16 10:59] koadman commented on #419
archaeal 16S is affected too

[2013-09-08 12:56] mlangill opened #437 "Add option to remove unneeded output files"
Files within alignDir take up a large amount of space and also the output files from the chunked multi-threaded runs make the output a bit confusing (e.g. sequence_taxa.1.txt, sequence_taxa.2.txt, etc.)

Would be nice to add option to allow removal of these files (which could be default setting?)

[2013-09-11 13:25] mlangill opened #438 "Missing CONTENTS.json files for certain markers"
Getting several errors like this:
Uncaught exception: Sys_error("/home/mlangill/share/phylosift/markers/V715.updated/CONTENTS.json: No such file or directory")

Sure enough the CONTENTS.json file is missing in this directory and also for other markers as well (e.g. V715, V181,V479, V130, V38)

[2013-09-11 13:38] mlangill commented on #438
Just noticed this has already been noticed and issue #392. Will close this one so it isn't a duplicate.

[2013-09-11 13:38] #438 closed, assigned to nobody

[2013-09-11 15:33] mlangill opened #439 "Getting a few fatal errors: "doesn't overlap any reference sequences.""
For example:

Uncaught exception: Failure("Sequence 839210.1.2.97 doesn't overlap any reference sequences.")
Fatal error: exception Failure("Sequence 839210.1.2.97 doesn't overlap any reference sequences.")

[2013-09-12 06:14] koadman commented on #439
Can you post the original sequence triggering this to help us track it down? 839210.1.2.97 is a phylosift-assigned internal ID, if you `grep 839210 blastDir/lookup_ID.*.tbl` it should return the original sequence name

[2013-09-12 13:28] mlangill commented on #439
No problem:

Uncaught exception: Failure("Sequence 862307.1.1.96 doesn't overlap any
reference sequences.")
Fatal error: exception Failure("Sequence 862307.1.1.96 doesn't overlap any
reference sequences.")

grep 862307 blastDir/lookup_ID.3.tbl
HWI-ST521:133:D1K3VACXX:8:1208:4182:97518       862307/1
HWI-ST521:133:D1K3VACXX:8:1208:4182:97518       862307/2

zgrep -A 1 "HWI-ST521:133:D1K3VACXX:8:120

[2013-09-12 14:23] gjospin commented on #439
Thanks for the help debugging this Morgan.
When I run the two reads that you posted, I get 0 hits to the databases in
the search step and from the error you posted it makes sense that it
wouldn't hit our DBs.

I wonder if there is a bug in writing the non hit sequences when other
sequences are actual hits.  Such case would end up generating all gaps
during the alignment step and make pplacer unhap

[2013-09-13 20:42] koadman opened #440 "phylosift search ; align workflow broken"
It looks like `Utilities::previous_run_handler()` is not aware of the workflow used to align isolate genomes:

[code]

[2013-09-15 22:46] koadman commented on #440
needing to use `--force` is counter-intuitive for this workflow, even if documented. I think the previous run check only needs to be applied in `phylosift all` mode. People using `search` and `align` steps individually should know enough about what they're doing that they don't need warnings about overwriting files.

[2013-09-17 17:12] gjospin opened #441 "Need to detect input type from previous runs"
Currently testing running the search and align steps one after the other on the paired HMP tutorial data.
<code>
./phylosift search --paired --debug tutorial_data/HMP_1.fastq.gz tutorial_data/HMP_2.fastq.gz
./phylosift align --paired --debug tutorial_data/HMP_1.fastq.gz tutorial_data/HMP_2.fastq.gz
</code>
In the search workflow, the data type gets flagged as DNA
In the align workflow, the data ty

[2013-09-17 20:45] koadman commented on #441
What about doing a detection only if the seq type is unknown at the start of each step? Carrying around more info in run_info.txt feels icky somehow

Guillaume Jospin notifications@github.com wrote:

##

Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2013-09-17 22:50] gjospin commented on #441
Fixed in commit d003d04b4258a93840cd4e5e07817617b1956930

We were already checking the file type, the problem came from reading a zipped file without the gunzip utilities.

[2013-09-17 22:50] #441 closed, assigned to gjospin

[2013-09-17 22:54] gjospin commented on #440
Fixed in bc2dfd2a2fd08484cfa714a42828dd1bbf014139

Added the creation of sub directories only when needed (during all mode or each individual step).
Removed the -f requirement when running individual steps after search.

[2013-09-17 22:58] #440 closed, assigned to gjospin

[2013-10-16 05:07] koadman commented on #424
Done & dusted.

[2013-10-16 05:07] #424 closed, assigned to koadman

[2013-10-16 05:09] koadman commented on #419
It turns out these weren't "wrong" per se, just that internal phylogeny nodes were very poorly annotated with taxonomy. This happened because many leaf node sequences have 'uncultured' taxon IDs. @gjospin created new marker packages without the internal node annotation.

[2013-10-16 05:09] #419 closed, assigned to gjospin

[2013-10-16 05:10] koadman commented on #401
@gjospin can you confirm if the new markers (which are now live) allow us to close this issue?

[2013-10-16 05:12] koadman commented on #207
Not fixing for 1.0 final release

[2013-10-16 12:53] gjospin commented on #401
This is related to extended markers which I think are the same as before. However the code changed to not display such errors. They were annoying but not critical to the good progress of ps.

Sent from my iPhone

[2013-11-04 21:46] gjospin opened #442 "16S placement is not working."
Currently getting the following error.

<code>Running /home/gjospin/phylosift_v1.0.0_02/bin/pplacer  -o /home/gjospin/misc/Jason/EC_final/PS_temp_placements/JA16/treeDir/16s_reps_bac.long.1.jplace --verbosity 0 -j 1 -c /home/gjospin/share/phylosift/markers/16s_reps_bac "/home/gjospin/misc/Jason/EC_final/PS_temp_placements/JA16/alignDir/16s_reps_bac.long.1.fasta"
Uncaught exception: Failure("taxon

[2013-11-04 22:22] gjospin commented on #442
Altering the .masked files seem to have done the trick.
Sending modified files to @koadman

Will wait to close until the downloadable marker archive is fixed.

[2013-11-12 23:15] gjospin opened #443 "File lock not releasing properly when interrupted"
I sometimes have my Phylosift runs hang when no other PS runs is currently doing something on the DB.
I think it may come from interrupted PS runs that did not release the rights to the markerDB directory correctly.

Not sure how to fix the issue at this time.

[2013-12-05 21:42] kgwin1 opened #444 "installation issue"
I get the following message after installing:
Can't locate App/Cmd/Setup.pm in @INC (@INC contains: /home/localuser/Desktop/PhyloSift/bin/../lib /home/localuser/Desktop/PhyloSift/version-0.9902/lib/ /home/localuser/perl5/perlbrew/perls/perl-5.16.0/lib/site_perl/5.16.0/x86_64-linux /home/localuser/perl5/perlbrew/perls/perl-5.16.0/lib/site_perl/5.16.0 /home/localuser/perl5/perlbrew/perls/perl-5.16.0

[2013-12-05 21:44] koadman commented on #444
Hi kgwin1, what did you do to "install" phylosift? You should be able to run it without any kind of installation, just unpack the archive and run. Is that what you've done?

[2013-12-05 21:48] kgwin1 commented on #444
I ran git clone git://github.com/gjospin/PhyloSift.git

[2013-12-05 21:56] kgwin1 commented on #444
Nevermind, I have since deleted that and reinstalled via website and unzipped! Now it works.

[2013-12-05 21:57] gjospin commented on #444
Excellent, I was about to suggest that.
Thanks for letting us know.

On Thu, Dec 5, 2013 at 1:56 PM, Kelley Nunez notifications@github.comwrote:

[2013-12-05 22:00] kgwin1 commented on #444
Just another quick question: running the whole workflow with the all command gives me this error:
rm: cannot remove `/home/localuser/Desktop/phylosift_v1.0.0_02/PS_temp/simulated_BEI20_0.01percent.fasta/blastDir/_.aa.1_': No such file or directory

Am I missing something?

[2013-12-05 22:08] gjospin commented on #444
The files resulting from the search step get deleted automatically (unless
--debug is used  --keep_search I think).
It could be that you didn't get any hits and there were no files to remove.
It could also be that you have uncovered a bug that needs fixing.

Are you getting results such as a krona plot or anything in the alignDir or
treeDir directories?  If you are seeing results files, I wouldn't

[2013-12-05 22:43] kgwin1 commented on #444
No, I am not seeing anything in treeDir or alignDir. No I have not downloaded the marker database or indexed it. Was the 16S database not included?

[2013-12-05 22:59] gjospin commented on #444
It should automatically download the marker DB when you start Phylosift.  I
would recommend running the following command just to make sure.

On Thu, Dec 5, 2013 at 2:43 PM, Kelley Nunez notifications@github.comwrote:

[2013-12-05 23:02] kgwin1 commented on #444
Okay. I tried that and got the same error message. I'm inputting a fasta file and the program is straight forward. Am I missing something else? My command:
./phylosift all $HOME/simulated_data.fasta'

[2013-12-05 23:08] gjospin commented on #444
Check $HOME/share/phylosift to make sure you have the database downloaded.
 You should have a markers directory (with about 850 markers) and a ncbi
directory with a few files related to taxonomy.

What system are you running PS on?
Could you provide an output dump when running your command using the
--debug flag.  This would help figure out what is going wrong.

On Thu, Dec 5, 2013 at 3:02 PM, Kel

[2013-12-06 14:28] kgwin1 commented on #444
Here is the output. Thanks again for all your help!

FORCE: 1
Continue :
force : 1
PhyloSift -- Phylogenetic analysis of genomes and metagenomes
(c) 2011, 2012 Aaron Darling and Guillaume Jospin

CITATION:
        PhyloSift. A. E. Darling, G. Jospin, E. Lowe, F. A. Matsen, H. M. Bik, J. A. Eisen. Submitted to PeerJ

PhyloSift incorporates several other software packages, please consider also citin

[2013-12-06 14:28] kgwin1 commented on #444
I'm using a simulated dataset composed of 100b randomly chopped 16S sequences from 20 bacterial species to test the program and see what the outputs are.

[2013-12-06 15:01] kgwin1 commented on #444
This may be the issue, my marker_list.txt is blank. I'm not sure how that happened

[2013-12-06 16:12] koadman commented on #444
Hi Kelley, that is definitely a problem. I'm not sure how it happened
but can suggest a course of action to resolve it. First delete the
marker_list.txt and then re-run `phylosift index --debug`. If that
doesn't solve the problem you can delete the entire marker directory,
which should trigger a re-download and index next time you run
PhyloSift. Hope that helps.

On Fri, 2013-12-06 at 07:01 -0800,

[2013-12-27 15:39] gjospin opened #445 "Fatal crash after 11 chunks"
Not sure what caused the crash yet but here is the error.

Running /share/eisen-z2/gjospin/Phylosift_test/bin/pplacer  -o /share/eisen-z2/gjospin/Corn/Mucilage_metagenome/Rerun/PS_temp/Mucilage_notcorn_2.fastq/treeDir/V278.updated.11.jplace --verbosity 0 -j 8 -c /share/eisen-z2/gjospin/Phylosift_test/share/phylosift/markers/V278.updated "/share/eisen-z2/gjospin/Corn/Mucilage_metagenome/Rerun/PS_te

[2014-01-10 20:19] sschmedes opened #446 "issue encountered during tutorial data run"
I ran the tutorial data with PhyloSift and encountered this message 6 times near the end of the run.

Use of uninitialized value $taxon_level in join or string at /home/cbh250/phylosift/bin/../lib/Phylosift/Summarize.pm line 527

Is this a bug?

[2014-01-13 16:56] gjospin commented on #445
The placements in the jplace look like the following lines. The decode_json function breaks on the first -nan

"p":
      [[0.0162720507812, 0, -nan, -inf, 1.99999275208],
        [0.00013125, 1, -nan, -inf, 1.99999275208],
        [0.133151872559, 2, -nan, -inf, 1.99999275208],
        [0.00626387695313, 3, -nan, -inf, 1.99999275208],
        [0.0311523925781, 4, -nan, -inf, 1.99999275208],

[2014-01-15 17:49] gjospin opened #447 "Archaeopteryx link is broken"
The link to get archaeopteryx is broken on the wordpress website.

[2014-01-15 17:49] gjospin commented on #447
Fixed. Now pointing to https://code.google.com/p/forester/downloads/list

[2014-01-15 17:49] #447 closed, assigned to gjospin

[2014-01-16 02:51] gjospin commented on #445
Posted an issue on the pplacer github.
We have identified the issue.  Just waiting for a resolution that we could implement.
https://github.com/matsen/pplacer/issues/331

[2014-02-06 17:07] gjospin commented on #445
The solution provided by the pplacer guys was successful.
currently rebuilding the marker package using newest versions of taxtastic and pplacer.

[2014-02-11 11:20] ramalok commented on #445
Hi, I'm also running into the same problem with the "malformed number", any idea when the solution will be available? Thanks! Ramiro
PS: btw, I run into this problem when using single reads, but not when running contigs from the same dataset

malformed number (no digits after initial minus), at character offset 786 (before "an, -inf, 1.99999275...") at /share/apps/PhyloSift/phylosift_v1.0.0_02/bin

[2014-02-11 22:12] gjospin commented on #446
This means that the $taxon_level string will be empty in the tree files.  A taxonID will be displayed instead of a name

[2014-02-11 22:14] gjospin commented on #445
We have implemented the fix with our reference database as well as using a new version of pplacer/taxit.  Those changes should be reflected in the downloadable content soon.
Thank you for your patience.

[2014-03-03 21:19] gjospin opened #448 "16S marker pulling wrong sequences"
When running an assembled isolate genome through PS, the 16S marker identified a GyrB sequence as 16S.  This sequence aligned and placed well enough to make it all the way to the summary reports.

Looking at a variable threshold implementation depending on sequence length to no impact the workflow for short reads.

[2014-03-03 21:20] gjospin opened #449 "16S candidates duplicates"
The 16S marker is printing duplicate sequences in the blastDir which endup being duplicated for the rest of the workflow.

[2014-03-03 21:48] gjospin commented on #449
Fixed in commit a2bed6df61e4f8c45c7af36ea13b431a736b80b6

[2014-03-03 21:48] #449 closed, assigned to gjospin

[2014-03-04 16:43] gjospin commented on #448
Fixed in commit 1f289053ef5135af557f5ee5946fbd2d25ca00f7

Implemented variable lastal thresholds for sequences between 2 lengths that can be specified in the RC file.

[2014-03-04 16:43] #448 closed, assigned to gjospin

[2014-03-10 22:29] ryneches opened #450 "Architecture is secret for no reason, leading to sadness and misery"
The distributed binary builds of Phylosift are for Linux x86-64, but nowhere is this fact clearly indicated. Evidently there are also MacOS binaries somewhere, but they are impossible to find. As a result, MacOS users will download the binary package (there is nothing to suggest that they do otherwise). Then, of course, the scripts run but the binaries don't, leading to very confusing behavior and

[2014-03-10 22:30] ryneches opened #451 "Architecture is secret for no reason, leading to sadness and misery"
The distributed binary builds of Phylosift are for Linux x86-64, but nowhere is this fact clearly indicated. Evidently there are also MacOS binaries somewhere, but they are impossible to find. As a result, MacOS users will download the binary package (there is nothing to suggest that they do otherwise). Then, of course, the scripts run but the binaries don't, leading to very confusing behavior and

[2014-03-10 23:48] koadman commented on #451
You have unveiled our conspiracy to drive mac users deep into depression and eventual suicide!

Point taken that the tutorials are all written to assume linux. It's certainly possible to build architecture specific releases although proper documentation of the current setup is probable more readily achievable.

[2014-03-10 23:52] koadman commented on #451
Russell, I think you may have missed that the mac binaries are all present in the osx/ folder in the distributed phylosift builds, thus they are NOT just for linux x86-64 but also for OS X. The phylosift script detects the platform and runs the appropriate binaries. It is only when the user needs to run the binaries themselves from the command-line that the confusion emerges, since on the mac a us

[2014-03-14 11:30] lindaoyam opened #452 "error message"
I downloaded Phylosift to try the software for the first time. It seems that one of the packages 'placer' isn't found even though I can see it in the 'bin' directory. Please what could be causing this error message? See screen below:

Linda Oyama@LindaOyama-PC /cygdrive/c/phylosift_20131016/bin
$ ./phylosift search yamasphylosiftexample.txt
PhyloSift -- Phylogenetic analysis of genomes and metagen

[2014-03-21 16:19] donutbrew commented on #445
Is there any particular type of dataset this happens with (over a certain size, etc)?

[2014-03-21 16:26] gjospin commented on #445
This happens when the sequence you are trying to place contains a residue
that did not exist in the alignment used to build the reference tree for
Pplacer.
We have updated the pplacer and taxit binaries in the github repositories
and we have also rebuilt the reference databases with the new binaries.

We are currently testing a release candidate, it should be available for
download from the websit

[2014-03-29 02:38] koadman opened #453 "phylosift simulate is deprecated"
The documentation should be updated to reflect the fact that the simulate command is not currently supported.

[2014-03-29 02:41] koadman opened #454 "Document .codon.updated.sub1.1.fasta files"
The documentation needs a description of what these files are. It can be based on the following email exchange:
https://groups.google.com/forum/#!topic/phylosift/I33jalfKqW4

[2014-03-31 11:01] ryneches opened #455 "Missing ribbon"
The PhyloSift website (http://phylosift.wordpress.com/) is missing a "Fork me on GitHub!" ribbon.

https://github.com/blog/273-github-ribbons

[2014-03-31 13:41] hollybik commented on #455
These ribbons are ugly. Plus, we already have a clear link to our GitHub repo in the righthand sidebar on all pages.

[2014-03-31 13:41] #455 closed, assigned to nobody

[2014-03-31 16:43] hollybik commented on #454
Added new file description and explanation under AlignDir on the outputs page, including the discussion of rationale from the Google Group thread:
http://phylosift.wordpress.com/tutorials/phylosift-outputs/

[2014-03-31 16:43] #454 closed, assigned to nobody

[2014-03-31 16:49] hollybik commented on #453
Have now added a note to indicate the non-functionality of "simulate" mode, on the page listing commands:
http://phylosift.wordpress.com/tutorials/running-phylosift/phylosift-overview/

[2014-03-31 16:49] #453 closed, assigned to nobody

[2014-03-31 18:44] ryneches commented on #455
Well, "clear" is not how I would describe it. In graphic design terms,
it's "buried."

It's in tiny text, jumbled amongst marginally related information. I had
to ctrl-F to find it. Seems a little weird that the only thing
connecting the blog and the entire development process wouldn't merit a
button or ribbon or something?

On Mon, 2014-03-31 at 06:41 -0700, hollybik wrote:

[2014-04-02 20:51] koadman commented on #442
I believe we fixed this? Can it be closed?

[2014-04-02 20:52] koadman commented on #445
This has been resolved by the release of v1.0.1 and a corresponding repaired marker database.

[2014-04-02 20:52] #445 closed, assigned to nobody

[2014-04-02 20:57] koadman commented on #429
@hollybik the help message in the code is now updated, would you mind adding a note somewhere on the web site docs so we can close this?

[2014-04-02 21:02] koadman commented on #446
Fixed by 4cec91c

[2014-04-02 21:02] #446 closed, assigned to nobody

[2014-04-02 21:03] koadman commented on #450
Duplicate of #451

[2014-04-02 21:03] #450 closed, assigned to nobody

[2014-04-02 21:19] koadman commented on #452
Hi Linda, phylosift will not work on windows PCs, not even when using cygwin. Consider setting up a Linux virtual machine using one of the many good VM software options, or find an existing Linux or Mac to use.

[2014-04-02 21:19] #452 closed, assigned to nobody

[2014-04-02 21:20] #444 closed, assigned to nobody

[2014-04-02 21:23] koadman opened #456 "JSON parsing on million-read .jplace takes days or weeks"
When processing amplicon data, many millions of reads can hit a single marker such as the 16S gene. When this happens the resulting .jplace takes longer for perl to parse than it does for pplacer to place them in the first place.

[2014-04-02 21:27] #401 closed, assigned to nobody

[2014-04-05 15:21] hollybik commented on #429
Updated on website: http://phylosift.wordpress.com/tutorials/running-phylosift/phylosift-overview/

Changed the --paired description to reflect the command line documentation, and updated the info about interleaved file formats to warn against orphan/unpaired reads.

[2014-04-05 15:21] #429 closed, assigned to nobody

[2014-04-08 16:52] jmeppley opened #457 "With multithreading, only one process is using CPU"
When I run phylosift with multiple threads, in the lastal and pplacer steps, only one process is using the CPU. In top I see multiple lastal processes (one for each thread requested plus one more). However, only one lastal process will show a usage of close to 100% and the rest will be in the single digits.

[code]

The same happens when pplacer runs.

I don't think memory is a problem. I have tri

[2014-04-08 20:17] koadman opened #458 "print version to screen & run_info.txt"
Currently the software version is not being recorded. this would improve reproducibility of results

[2014-04-09 21:30] koadman opened #459 "improve configurability for pplacer mmap usage"
at the moment phylosift runs pplacer on the large markers without --mmap-file if it detects that the node has > 8GB of memory. However, in cluster compute environments the node may have much more RAM but the queue system might restrict running processes to using less memory. Users should have more control over the use of --mmap-file via the config file.

[2014-04-10 02:51] koadman commented on #457
Hi John, would you happen to be running 16S amplicon data through phylosift? The n+1 `lastal` processes you observe include n processes to search the protein database and 1 process to search the rRNA database. This parallelization strategy works well for metagenomic data but obviously falls apart when using 16S amplicon data. As for `pplacer`, phylosift passes along the requested number of threads

[2014-04-10 10:24] jmeppley commented on #457
No, this is happening on metagenomic data. But that does explain the extra thread.

[2014-04-10 13:14] jmeppley commented on #457
OK, I see pplacer going full on all threads now. It did just take a while. I'll play around more with last and see if I can't figure out what my problem is...

[2014-04-11 23:52] jmeppley commented on #457
It's not multithreading. The protein search is just limited by CPU. With one thread, I get this:

[code]

That still doesn't seem right, though.

[2014-04-12 00:58] jmeppley commented on #457
Does octopus hand out threads to the nucleotide and protein searches in sync? How hard would it be to put the multithreading on the nucleotide side? It looks like search is taking about half the total time for my runs.

[2014-04-13 19:35] koadman commented on #457
I was able to take a closer look at this over the weekend, and indeed the RNA search is bottlenecking even on metagenomic data. There is some amount of synchronicity imposed on the RNA & protein searches due to the way the octopus works: a set of child processes are spawned, one for each lastal search, and then the parent process feeds sequences to the children. The RNA search child receives all o

[2014-04-13 22:31] koadman commented on #457
Resolved in devel branch commit 56ffbf7

[2014-04-13 22:31] #457 closed, assigned to nobody

[2014-04-13 23:17] koadman commented on #457
You're welcome, but thanks should really go to you for bringing this
important issue to attention!

On Sun, 2014-04-13 at 15:36 -0700, John Eppley wrote:

[2014-04-16 05:10] gjospin opened #460 "Broken concatenation when multiple hits to dngngnwu markers"
When using contigs as input sequences and --besthit is not used.  Some DNGNGWU markers may have multiple hits from the same sequence which breaks the concatenation mechanics.

A quick fix is to use --besthit however users should not be expected to be expert PhyloSift users.

At this point I am not sure of the right course of action.
Keep the first sequence PS sees per marker.
Keep the sequence wit

[2014-04-21 16:25] gjospin opened #461 "db_update --config uses default phylosiftrc"
When running the db_update version of the workflow, it automatically uses the default phylosiftrc file when scanning the genomes.

Need to propagate the use of --config into the launched jobs

[2014-06-04 17:49] creageng commented on #397
where is it?
My metamos has issue in finding PyloSift.

'''

Starting Task = preprocess.PREPROCESS
    Job  = [[carsonella_pe_filt.fna] -> preprocess.success] completed
Completed Task = preprocess.Preprocess
    Job  = [preprocess.success -> *.run] completed
Completed Task = assemble.SplitAssemblers
Uptodate Task = assemble.Assemble
Starting Task = assemble.ASSEMBLE
    Job  = [[] -> [assemble.ok]

[2014-07-12 15:19] gjospin opened #462 "Incorrect grammar in error message"
When checking if a step has successfully completed, the error message is not grammatically correct.

croak("Previous step for chunk $chunk has did not complete. Aborting\n")

[2014-09-12 17:32] javiercnav opened #463 "Increase limit with --mxsize or tau with --tau"
Hi, I am trying to use phylosift to characterize some extracted genomes. First I tested the "test data" and it worked well. Then I proceed to analyze a set of bins in fasta format and i got the following error:

Error: requested HMM banded DP mx of 9866.62 Mb > 2500.00 Mb limit.
Increase limit with --mxsize or tau with --tau.

I was checking around on the forums and it seems that this is an old pr

[2014-09-14 19:10] koadman commented on #463
this is happening with cmalign. it looks like the settings we've chosen are not working for your data. Is it a genome assembly? 16S or 18S amplicon data? It's possible to change those settings (mxsize or tau) in the phylosift source code (Phylosift/MarkerAlign.pm) but I would like to be sure this isn't a symptom of some other problem before suggesting changes to those.

[2014-10-27 19:57] augustlongino opened #464 "Input Sequence IDs lost in all mode"
In the most recent release, version 1.01, I have been having an issue in which the original input sequence ids from my fasta file are being lost after running phylosift all. In the alignDir directory I can see that the original names are still present- they just don't show up in any of the sequence summary files in the main directory.

 I saw that there is a 'names mode', which retains the origina

[2014-10-28 00:12] koadman commented on #464
Hello there, `phylosift all` (and the other individual steps `search`, `align`, and `place`) use numeric identifiers for the input sequences. The `name` subcommand replaces these numeric identifiers with the original sequence names. When run as `phylosift all`, that replacement is supposed to happen as the final step in the processing of your sample. The fact that some of your sequences still have

[2014-10-28 14:55] augustlongino commented on #464
The following is a piece of the sequence_taxa.txt file. The first column is the one giving us problems- shouldn't it have the input id's? After the sequence_taxa.txt snippet I am including some of the input file as well, in case the formatting is off or something. Also, thank you for responding so quickly/helpfully- I'm new to this whole community/enterprise, and I did not think anyone would ever

[2014-10-28 19:10] gjospin commented on #464
Hello,
The contig you shared with got 0 hits on the database I am using.  So I
can't actually reproduce the error.

On Tue, Oct 28, 2014 at 7:55 AM, augustlongino notifications@github.com
wrote:

[2014-10-28 19:19] augustlongino commented on #464
Hi Aaron and Guillaume,

 I am attaching here the whole fasta file, rather than just that one little
snippet(which after all, was unlikely to generate a hit in the first
place).

 Let me know if this helps at all.

August

On Tue, Oct 28, 2014 at 1:10 PM, Guillaume Jospin notifications@github.com
wrote:

[2014-10-28 19:40] gjospin commented on #464
Hi August,
I am not seeing an attached document.

[2014-10-28 19:55] augustlongino commented on #464
I think gmail and Github aren't communicating well. I replied via email, and attached a file there. How frustrating. Do you have a reply email from me with that attachment, or is there a way to upload that file here?

[2014-10-28 19:58] gjospin commented on #464
The email is also empty. You can email it directly to guillaume.jospin@gmail.com if that makes it easier.

[2014-10-28 21:49] gjospin commented on #464
Hi August,
I was able to reproduce the error and identify the problem.
Apparently we are printing IDs as 1/1 in the summary files however we are
looking for something like 1.1 in our pattern matches when replacing the
names.
I'm surprised no one has mentioned this problem before.
I figured out a fix however I need to make sure it does not affect other
things before I push the changes to github.

I

[2014-10-28 21:55] augustlongino commented on #464
Great! Thanks so much- cool to see the collaboration thing working.

On Tue, Oct 28, 2014 at 3:49 PM, Guillaume Jospin notifications@github.com
wrote:

[2014-11-06 16:02] gjospin commented on #464
All should be fixed with the following release.
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/devel/phylosift_latest.tar.bz2

On Tue, Oct 28, 2014 at 2:55 PM, augustlongino notifications@github.com
wrote:

[2014-12-04 22:07] koadman opened #465 "Sequence IDs with tab characters not handled"
The renaming step does not properly handle sequences with tab characters. These must be escaped somehow for the renaming step.

[2014-12-08 21:22] gjospin commented on #465
Fixed in commit 9832300f0e19503f9427f2d10e589d0d8925962f

[2014-12-08 21:22] #465 closed, assigned to nobody

[2015-02-06 14:19] xapple opened #466 "rm: cannot remove blastDir/*.aa.1*"
Hi !

I just downloaded PhyloSift for a test run to see if the results it generates are interesting for our research or not. But it seems to just output a strange error and then stop.

I installed it and ran it on a simple fasta file containing one sequence like this:

[code]

The output was the following:

[code]

Even though the exit code of the command was 0. Should I be worried ?

[2015-02-13 00:35] koadman commented on #466
The error message is popping up because phylosift wasn't able to find any marker gene homologs in your dataset. Probably the results are empty too. It's not a very informative error message -- this is something that could be improved.

[2015-03-09 12:16] yoyohashao opened #467 "Error: requested HMM banded DP mx > limit. But nowhere to add --mxsize according to mannual"
Error: requested HMM banded DP mx of 4160.91 Mb > 2500.00 Mb limit.
Increase limit with --mxsize or tau with --tau.

Hey gus, it's my first time to use PhyloSift. And it gave me the error message. But I didn't find where to add the option in command line on (https://phylosift.wordpress.com/tutorials/running-phylosift/phylosift-overview/)
Can somebody tell me where to increase the limit? Thanks

[2015-03-31 19:52] KevinAMeyer opened #468 "build_marker taxids invalid"
Hello,

I'm looking to create a custom database to run in Phylosift and keep getting error messages when trying to build the database using The Monkey. I can index the created database, but the taxa file (taxa.csv) is empty, almost all of my tax_ids have been removed, and when I run phylosift all --custom using the database created by The Monkey it returns no hits whatsoever. Including hits to ref

[2015-04-01 04:22] gjospin commented on #468
Hello,
First off, the taxa.csv ffle was part of a feature that did not work
properly and that we ended up not  fully developing. So you can ignore that
part.  I should spend some time to either remove or skip that part of the
code so people don't get confused.

The PD number seems rather high but I am not a tree expert so maybe it will
work for your purpose. It is intended to trim the resulting tr

[2015-04-27 20:10] KevinAMeyer commented on #468
Hello Again,

Thanks for your response but I'm still having issues with the custom marker build. Specifically, I'm building a marker package and then testing that package against a genome that I extracted a gene from (positive control) and I'm getting back the error message:

rm: cannot remove `/geomicro/data21/kevmey/Research/cHABs/bioinformatics/Phylosift/Custom_marker_read/recA_gene_marker/blas

[2015-05-08 20:00] ghost opened #469 "Alignment file parse error"
Hello,

I am a student and I would like to use PhyloSift for a class project. Unfortunately, when I attempted to run the Tutorial_data, the error below was returned. I noticed the BlastDir was fully populated, the TreeDir was empty, and the AlignDir was missing some files, as if it had stopped midway.

The PhyloSift program with Tutorial_data was able to run successfully on my laptop, which is how

[2015-05-10 17:53] ghost commented on #469
Actually, I have been able to solve my problem. Thanks.

[2015-05-10 17:53] #469 closed, assigned to nobody

[2015-06-16 02:21] dee31n opened #470 "Analysis"
Hi,

Trying out the Phylosift for the first time. While running the tutorial data everything went smooth.

however with one of my samples, I had the following message,
query 694385.1.342.494.1.72.269.1.69.251 is not the same length as the reference alignment (got 7313; expected 7109)

While I have got data in all the taxasummary files, I haven't got the krona output.

Any help would be great!!

De

[2015-06-18 02:27] gjospin commented on #470
Are you running contigs through phylosift? If you are maybe you can use the --besthit flag to prevent overlapping market hits that may mess with your alignments.

Sent from my iPhone

[2015-09-02 21:45] rohansachdeva opened #471 "Misclassifications"
Hi I have a few metagenomic sequences that seem to give misclassifications.

The sequences should be Actinobacteria - everything I've done (draw trees, blast, etc) puts them in the Actinobacteria.

Here's a small example of a 30S ribosomal protein S2 from one of my contigs:

Phylosift seems to think it's from the phylum "Parcubacteria". I know automated methods are never going to be perfect but be

[2015-11-12 10:21] harrysunny998 opened #472 "error when running tutorial files"
Hello,

I am trying to run phylosift on virtualbox (ubuntu), but got some error messages.

Can anyone help me with this?

please see below error messages:

harry@ubuntu:~/phylosift_v1.0.1$ ./phylosift all --paired tutorial_data/HMP_1.fastq.gz tutorial_data/HMP_2.fastq.gz
PhyloSift -- Phylogenetic analysis of genomes and metagenomes
(c) 2011, 2012 Aaron Darling and Guillaume Jospin

CITATION:

[2015-12-24 23:43] driscolc opened #473 "How to obtain confidence values concatenated tree?"
I've created a tree from the concatenated phylosift alignments with a single complete genome as input. I was wondering, is there a way to implement confidence values for the output tree with all bacterial genomes? Or is there a way to output the all-genome alignment fasta?  Thanks.

[2016-01-22 23:23] dong5600 opened #475 "Trouble to run phylosift on server"
Hello,

I was able to successfully run Phylosift on my desktop. Since it is too slow (at least 3-5 hrs/per sample) to make my work of >50 samples feasible, I have tried to install the program on our institute's server, which has not gotten positive results.

After unzip the phylosift file on the server, I did a test run for the data I had success for my desktop version, but it gave error informati

[2016-01-22 23:26] dong5600 commented on #475
BTW, my command was: ./phylosift all --isolate ACF_bin1.fa

[2016-01-23 02:17] gjospin commented on #475
Did you index the database before trying to run phylosift?

Phylosift index --debug

Should do the trick. If you edited your phylosiftrc file to tell PS where to look for the database then you might need to also add the following flag --config new_phylosiftrc

This line is suspect because it should end with list.txt and not listtxt
Using a marker list file /home/a-m/dong5600/share/phylosift/marker

[2016-01-23 02:31] dong5600 commented on #475
Thank you for reply.

I have not index the database yet. When reading other posts, I also noticed that the automatically loaded database was stored in a folder named .XXX/shared/phylosift (/home/a-m/dong5600/share/phylosift/ for my case). I am wondering whether I should directly download the marker files under this path, which is different from where my phylosift was installed on the server.

I wi

[2016-01-23 02:40] gjospin commented on #475
If you have a lot of memory at your disposal you can run multiple instances at once.
Keep in mind that in order to run efficiently fast you might need around 24gigs of ram per instance. That is because of the pplacer step.
The search step can be run on multiple CPUs but that's the only section of the pipeline that can do that.
If you have less memory pplacer is engineered to use temporary files wr

[2016-01-23 02:42] dong5600 commented on #475
Sounds good. Let me figure out the index issue first. Will update the status. Thank you!

[2016-01-23 21:28] dong5600 commented on #475
Thank you very much for the suggestion, the program worked.

To follow up the question to run batch samples, could you suggest how to write command including multiple files? I did not find related information in the tutorial. An alternative ways was to write individual scripts and submit in batch. Please advice.

Thanks a lot!

[2016-01-23 23:39] gjospin commented on #475
I write an external wrapper script that writes and executes job scripts for
each of file that in my sample pool.

On Sat, Jan 23, 2016 at 1:28 PM, dong5600 notifications@github.com wrote:

[2016-02-02 20:39] ryanjw opened #476 "unzipping markers.gz"
I am working on a server without any ability to download markers.gz when running it for the first time.  I have gotten markers.gz into the appropriate place, but when unzipping it through a variety of methods I always end up with gzip: markers.gz: unexpected end of file (or something similar depending on the method I tried).  The markers directory will then exist, but no ncbi directory, causing a

[2016-02-17 20:13] gjospin opened #477 "cmalign seg fault"
I ran into a problem where cmalign would segfault on 16s alignments for particular sequences.
I am not sure what caused the problem but I had to increase the --mxsize parameter to 10000 for it to even get there.

I was able to fix it by upgrading to INFERNAL 1.1  (we were using INFERNAL 1.0.2 ).

Doing so would require a change to the cm files provided in the marker database.  This can be done by

[2016-03-04 16:49] Sanrrone opened #478 "phylosift infinite run with tutorial files?"
Dears, when i run phylosift with tutorial files take much time (all mode),  how much time need the software with 16 threads?, I run many times phylosift in linux machines and after 4 days (queue), the software not finish and crash for time limit, and just are 2 read files.

regards

[2016-03-07 15:14] mkroege1 commented on #466
I have the same issue. This is the debug output:
user@Puget-145815:~/phylosift_v1.0.1$ phylosift all -f --paired tutorial_data/HMP_1.fastq.gz tutorial_data/HMP_2.fastq.gz --debug
READSFILE       tutorial_data/HMP_1.fastq.gz
FORCE: 1
Continue :
force : 1
PhyloSift -- Phylogenetic analysis of genomes and metagenomes
(c) 2011, 2012 Aaron Darling and Guillaume Jospin

CITATION:
                PhyloSi

[2016-03-07 17:32] gjospin commented on #466
Has the reference database been downloaded?
It should be in /home/user/share/phylosift/markers

If that directory does not exists then you might need to manually download
the references from
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift_markers/markers.tgz

and unpack the archive in /home/user/share/phylosift/

Once that's been done, you might need to index the database before running
p

[2016-03-07 18:31] mkroege1 commented on #466
So I had already downloaded the markers.tgz and ncbi.tgz and unpacked it into phylosift directory. I have now run the command  you stated above to index the database, but it is still having the same error. Any other ideas?

[2016-03-07 20:12] Sanrrone commented on #478
Solved, edit the pplacer.pm in line 353 for my $options = "";

[2016-03-07 20:12] #478 closed, assigned to nobody

[2016-05-18 17:52] matiasirazoqui opened #479 "Can't locate loadable object for module Digest::MD5"
Hi,
Today I tried to run phylosift, but it keeps giving me the error I paste down here. I've installed the MD5 module via CPAN, so the module is there. I've also tried copying the library in the folders where the perl modules are. Theoretically, Phylosift searches for MD5 and, if it doesn't find it, uses a legacy version that comes within the package, but it keeps telling me it can't locate the MD

[2016-07-08 19:04] ursky opened #480 "--coverage option formatting"
I am trying to run Phylosift on contigs, and want to use --coverage option to specify the contig abundance/depth values to the program. I was unable to find any documentation on the format of the --coverage file, so I tried using the most intuitive format: a tabl delimited file with the contig name in the col1 and the average read abundance of that contig in col2. Phylosift does not return any err

[2016-10-03 17:30] gjospin opened #481 "Marker files not readable"
Permissions for reading for everyone are not set for some files in the following markers

16s_reps_arc
16s_reps_bac
18s_reps

This causes runs to fail when the owner of the DB is not the account running PhyloSift.

[2016-10-11 18:39] rjsorr opened #482 "--extended db"
Hi, is it possible to provide a link to the --extended db so I can download it locally (without having to install phylosift). I need to add a path to it on the server, and don't really want to have to install the program on the server and on my computer. hope you can help here?

regards

[2016-10-11 19:17] koadman commented on #482
Hi,
The extended marker set URL is currently: http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift_markers/markers_extended.tgz
That URL is subject to change, although there are no imminent plans to change it.

[2016-10-11 19:30] rjsorr commented on #482
thank you and regards

[2016-10-13 22:05] itiago opened #483 "Gor this Error: requested HMM banded DP mx of 5030.12 Mb > 2500.00 Mb limit. Increase limit with --mxsize or tau with --tau."
Hi
I'm trying to do annotation on assemble metagenome file, but got this error message.
The file has 78,734 contigs, and is 120Mb.
I've used PhyloSift to annotate the bins that I've determined, but wanted to have and overall phylogenetic analyses of the all community.

at the end I had the message error related to "Error: requested HMM banded DP mx of 5030.12 Mb > 2500.00 Mb limit. Increase limit

[2017-04-04 11:53] itiago opened #484 "Problems understanding summary results"
Hi
I cannot understand the results that I have in summary files. The phylogenetic classification doesn't seems to have any hierarchy, the phylogenetic groups seem scattered. Is there a way, a output that I can use with percentage of each phylogenetic group determined? Or at least a way that the phylogenetic groups are listed from order phylum class family genus species.
Please see bellow the out p

[2017-11-09 10:38] jamesabbott opened #485 "Grinder.pm missing..."
Hello,

I've just installed v1.0.1 for one of our users from the tarball, but on testing the scripts in bin/, grinder fails since it can't load Grinder.pm. According to the grinder script it is trying to load the module from the bin directory, however there is no Grinder.pm anywhere within the installation tree.

Is grinder a deprecated component, or should this be working?

Thanks
James

[2018-01-05 14:12] evensannesriiser opened #486 "Marker gene webpage down?"
Hi Guillaum/Aaron/PhyloSift guys!

I'm having trouble updating the marker database. When running "phylosift all", or "phylosift dbupdate", I get the error message:

`NCBI taxonomy data not found and unable to connect to update server, please check your phylosift configuration and internet connection!`

The URL _http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift_markers_ is specified in the g

[2018-01-05 14:27] evensannesriiser commented on #486
Ah, sorry! Didn't see the latest news about Markers Database download change... ;)

Even

[2018-01-05 14:27] #486 closed, assigned to nobody

[2018-02-06 00:23] ghost opened #487 "PhyloSift error running (Can't locate App/Cmd/Setup.pm in @INC)"
After downloading and unzipping the folder, I ran the first command with the test dataset and having the following error:

[mdimdadi@rameshgoel PhyloSift]$ bin/phylosift all --output=results --paired tutorial_data/HMP_1.fastq.gz tutorial_data/HMP_2.fastq.gz

[mdimdadi@rameshgoel PhyloSift]$ Can't locate App/Cmd/Setup.pm in @INC (@INC contains: /home/mdimdadi/Downloads/PhyloSift/bin/../lib /usr/loc

[2018-02-06 19:36] ghost commented on #485
is the following link working? I tried wget followed by the link, it says "Unable to resolve host address"
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2

Then I tried cloning the phylosift git respository and it worked. But when I ran phylosift command, it says "Can't locate App/Cmd/Setup.pm in @inc"

[2018-03-02 14:56] itiago opened #488 "error using phylosift... rm: cannot remove ... No such file or directory"
I'm trying to use phylosift,

first the link
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2
is not working.

I have a version that I don't know if it is the correct one phylosift_v1.0.1.tar.bz2 from 2017. I've decompressed it and I've downloaded the datasets from
https://dash.ucdavis.edu/stash/dataset/doi:10.25338/B8F30J

that I unziped and placed under:/home/igo

[2018-03-03 04:58] nhudag opened #489 "Running phylosift"
Hi
Can anyone help me to run phylosift i have a qiime virtual box installed and i dont know what to do next.
I have trying to download the phylosift zip folder but it gives me an error that the page doesnt exist.
what am i supposed to do please help

[2018-03-03 16:28] nhudag opened #490 "Error running Phylosift"
#Hi I have a hard time running PhyloSift.
Firstly the link given to download the file is not working. Alternatively, I cloned the Zip file.
Now I am getting this error when i try to execute the file
./phylosift search non_chimeric-seqs.fna
Can't locate App/Cmd/Setup.pm in @INC (you may need to install the App::Cmd::Setup module) (@INC contains: /home/huda/PhyloSift/bin/../lib /etc/perl /usr/local/

[2018-03-03 16:30] #489 closed, assigned to nobody

[2018-03-09 18:59] jesipr opened #491 "Dead Download Link"
The link provided http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2 is not working.

[2018-03-09 20:49] gjospin commented on #491
Yes that server is dead and won’t come back online.

https://figshare.com/articles/PhyloSift_markers_database/5755404

Sent from my iPhone

[2018-03-13 13:48] #491 closed, assigned to nobody

[2018-04-09 02:57] bioinformaticspcj opened #492 "The download URL may be disabled"
Hi, I just try to download the phylosift, but I can not reach the URL :"http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2"
was it disabled?

[2018-04-09 14:11] gjospin commented on #492
Yes it was. Please use the following link to manually install the database.

https://figshare.com/articles/PhyloSift_markers_database/5755404/4

Sent from my iPhone

[2018-07-10 20:24] AvdReis opened #493 "pplacer not found"
Hi there

I seem to have an issue running the tutorial data. Everything thing starts running and then it stops because it can't find pplacer, but the file is in the folder where it says it cannot find it... Any advice?

Please see print screen attached.

![pplacer_not_found](https://user-images.githubusercontent.com/25582323/42535476-8af40434-84e3-11e8-9c72-0bdd329c15e1.jpg)

Kind Regards
Aimee

[2018-07-11 06:22] gjospin commented on #493
Strange, Can you make sure it is not in
/c/Aimz/Desktop/Phylosift/phylosift_v1.0.1/bin ?
Did the permissions get changed by you or automatically by your system? You
should be able to execute the software.
Once you fix pplacer, you might need to do the same for the other tools
packaged within the archive.

If the problem persists you could always add it to your path manually or by
downloading it yo

[2018-07-11 22:12] AvdReis commented on #493
I fixed the problem, but I do not seem to get the same results as the tutorial... I also do not get any reference marker packages downloaded...

Pretty new to all this, so appreciate the help!

![image](https://user-images.githubusercontent.com/25582323/42601390-95a49f48-85b9-11e8-9b50-7eb956c207a2.png)

![image](https://user-images.githubusercontent.com/25582323/42601442-c37a7578-85b9-11e8-85db-6

[2018-07-12 02:53] gjospin commented on #493
The automatic download is no longer supported, you will need to download the reference database manually.
https://figshare.com/articles/PhyloSift_markers_database/5755404

By default it is looking for the markers and ncbi directories in /home/<username/share/phylosift

You can modify those paths in the phylosiftrc file that you would then specify on the command line using the —config flag.

The da

[2018-08-14 03:20] manli-zou commented on #492
There is a problem with this link, it is more like a web page instead of a database
https://figshare.com/articles/PhyloSift_markers_database/5755404/4

[2018-08-14 03:58] gjospin commented on #492
Yes and from there, there are download links that will let you download the
data files.

On Mon, Aug 13, 2018 at 8:20 PM, manli-zou <notifications@github.com> wrote:

[2018-08-14 04:36] manli-zou commented on #492
Thanks.
but no matter which link I clicked in , another web page showed out.
Could you nicely help me check it

[2018-08-14 14:35] gjospin commented on #492
Strange.
Let me see if I can describe what I do.

So at the top of the page, I see 4 boxes, each representing 1 tarball or
file to download. If you mouseover the boxes the word "view" and an arrow
will appear at the bottom of the box.
Can you try click on the arrow and see if that downloads the file for you?
You will need ncbi.tgz and markers.tgz

On Mon, Aug 13, 2018 at 9:36 PM, manli-zou <notifi

[2018-08-15 02:28] manli-zou commented on #492
The problem is solved.
Thank you so much ~

Things went all well when I turned to use Microsoft edge instead of Google Chrome.
Maybe this is the reason.

[2018-09-24 13:25] itiago opened #494 "Error: requested HMM banded DP mx of 3903.86 Mb > 2500.00 Mb limit."
Hi
I'm trying to run Phylosift to classify a metagenomic dataset but I have this error:

Error: requested HMM banded DP mx of 3903.86 Mb > 2500.00 Mb limit.

and the output is a html file with no results.

Has anyone encounter such error and did it resolve it?

Thanks in advance
Igor

[2018-09-24 16:35] #488 closed, assigned to nobody

[2018-10-09 11:24] novitch opened #495 "Problem indexing , can't find repository for most of markers"
Hi,
I am trying to reinstall phylosift, i downloaded to the master repository all the files and launching phylosift does produce something (list commands available etc etc)

I downloaded the markers database and installed it on my server (can"t on my home):
/mnt/gpfs/pt2/ama/phylosift/markers/

Then I specified on phylosiftrc where is my db and ncbi file:

 43 $marker_dir="/mnt/gpfs/pt2/ama/phylos

[2018-10-09 12:38] novitch commented on #495
Edit:
I think it chomp the first letter of each directory:
Error: Alignment file 1/tDNA_ND5_aa_aligned/tDNA_ND5_aa_aligned.stk doesn't exist or is not readable
Could not find repository for marker tDNA_ND6_aa_aligned
Could not find repository for marker tDNA_ND6_aa_aligned
Could not find repository for marker tDNA_ND6_aa_aligned
Error: Alignment file 1/tDNA_ND6_aa_aligned/tDNA_ND6_aa_aligned.stk d

[2018-10-09 12:41] novitch commented on #495
ok, I had a "/" at the end of my folders at the end that chomp the first letters

It works with this:
43 $marker_dir="/mnt/gpfs/pt2/ama/phylosift/markers";
44 # $markers_extended_dir="";
45 $ncbi_dir = "/mnt/gpfs/pt2/ama/phylosift/ncbi";

[2018-10-09 12:41] #495 closed, assigned to nobody

[2018-10-10 09:37] novitch opened #496 "problem indexing, process running without any progress"
I tried to index, but the program has run overnight without any success.

I tried with the dubug option, here is the ouput:
./phylosift index --config phylosiftrc --debug
Reading config file : phylosiftrc
Found 741 markers

... and nothing more happens

I was thinking that maybe i don't need to index, I tried to start a all programm with debug but no marker were retrieved despite I know that it ha

[2018-10-10 12:54] novitch commented on #496
Ok, I tried with markers folder "markers_20140913.tgz" instead of using "markers.tgz" and it seems to have worked:
########
./phylosift index --config phylosiftrc --debug
Reading config file : phylosiftrc
Found 741 markers
Requesting Indexed_markers : 0
Indexing 741 in PhyloSift/markers2/markers2
Inside index_marker_db
###########

But am I right using folder dated of the year 2014?

[2019-01-30 01:12] bonniethesheng opened #497 "NCBI taxonomy data not found and unable to connect to update server"
Hi all,
I am super new to PhyloSift. I have downloaded the whole package https://figshare.com/articles/PhyloSift_markers_database/5755404, unzipped all four folders. Update the marker folder with the 20140913 one, and update the NCBI file from ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/ by copying all files in taxdmp.zip to the NCBI folder. However, after I typed in
 ./phylosift all --paired tutorial

[2019-01-30 18:25] gjospin commented on #497
What is the path where your ncbi folder is?
It should look like /home/username/share/phylosfit/ncbi

Sent from my iPhone

[2019-01-30 19:08] bonniethesheng commented on #497
Thank you very much!!! It worked after I moved the phylosift folder from home to the share folder. I am super new to Linux system as well. Could you please explain that why the folder has to be in the share folder?

Thanks,
Lina

[2019-01-31 18:45] gjospin commented on #497
Hi,
I don't think it's a requirement, more like a convention. You could also
modify the phylosiftrc file to change the path that PhyloSift will use to
look for the databases.
From what I understand, when software adds/downloads or need a particular
set of things, the common usage is to add that to a "share" folder so we
just followed that guideline. It can then be referenced or pointed to by
every

[2019-01-31 18:47] bonniethesheng commented on #497
Thank you very much!!

[2019-01-31 18:47] #497 closed, assigned to nobody

[2019-03-08 21:28] Ians14 opened #498 "markers.rep not found"
phylosift index --config phylosiftrc --debug
Reading config file : phylosiftrc
Found 742 markers
Requesting Indexed_markers : 0
Indexing 742 in /packages/7x/phylosift/1.0/markers
Inside index_marker_db
/packages/7x/phylosift/1.0/markers/markers/markers.rep not found.
Warning: marker markers appears to be missing data

Where would I be able to find the markers.rep file?

[2019-03-19 20:13] #498 closed, assigned to nobody

[2019-03-20 06:39] bonniethesheng opened #499 "running aborted"
Hi, I submitted the data to slurm for running on PhyloSift. However, I got:
pplacer: loadlocale.c:130: _nl_intern_locale_data: Assertion `cnt < (sizeof (_nl_value_type_LC_TIME) / sizeof (_nl_value_type_LC_TIME[0]))' failed.
Aborted
pplacer: loadlocale.c:130: _nl_intern_locale_data: Assertion `cnt < (sizeof (_nl_value_type_LC_TIME) / sizeof (_nl_value_type_LC_TIME[0]))' failed.
Aborted
pplacer: loa

[2019-03-20 13:42] gjospin commented on #499
Oh strange I’ve never seen that error.
I would recommend trying to compile and install pplacer on its own and replacing the copy distributed with PS. That would be in the bin folder inside the phylosift directory.( If you were using a Mac, then you would add the new executable to the osx directory instead). You could add it to your PATH as well.

Could it be possible the precompiled version old en

[2019-05-13 21:57] ganiatgithub opened #500 "Use of uninitialized value $timestamp in scalar chomp at.."
Hi,

I'm using phylosift on a university server to taxonomically place MAGs. I'm using phylosift_v1.0.1, and have placed the markers.tgz as follows:
/home/uqgni1/share/phylosift/markers
ncbi..tgz at:
/home/uqgni1/share/phylosift/ncbi

My code:
/path_to_phylosift/phylosift all \
/path_to_MAGs/out.1.fa \
--output /path_to_output/out.1.fa_out \
--threads 12 --coverage --disable_updates

And I couldn'

[2019-05-13 23:56] gjospin commented on #500
So it's trying to read the file labeled as the next option. So I would try
giving it a coverage file for the contigs you are trying to place.
so your command might look like the following:

path_to_phylosift/phylosift all
/path_to_MAGs/out.1.fa
--output /path_to_output/out.1.fa_out
--threads 12 --coverage /path/to/coverage/file --disable_updates

I have rarely used coverage myself so I may be fuzz

[2019-07-05 09:44] osvatic commented on #492
The link provided is now broken. Can you please provide a new link for the downloading of phylosift dbs?

[2019-07-05 17:58] gjospin commented on #492
Which link are you referring to?
The following seems to be working fine this morning. This URL will not work
within the automatic download code. You will need to manually untar and
place the DB in the right directory.
https://figshare.com/articles/PhyloSift_markers_database/5755404/4

On Fri, Jul 5, 2019 at 2:44 AM osvatic <notifications@github.com> wrote:

[2019-07-11 15:19] ucassee opened #501 "error with phylosift search"
When I run `phylosift search -help`  it went error with following:

at /home/zhouyl/software/phylosift_v1.0.1/bin/../lib/Phylosift/Phylosift.pm line 154.

I downloaded markers.tgz and ncbi.tgz. Where should I set them?

Thanks in advance

[2019-07-11 15:23] gjospin commented on #501
you can specify a custom directory in the phylosiftrc file, make sure you
remove the # at the beginning of the line that you are using.

The default place that PS will look for things is in:
<$HOME>/share/phylosift

On Thu, Jul 11, 2019 at 8:19 AM ucassee <notifications@github.com> wrote:

[2019-07-11 16:10] ucassee commented on #501
@gjospin Thanks for your reply.
The phylosift is at `/home/zhouyl/software/phylosift_v1.0.1/bin/` . I move ncbi.tgz to `/home/zhouyl/software/phylosift_v1.0.1/`  . But it doesn't work. It still with error

[2019-07-11 16:13] gjospin commented on #501
you need your path to look like

/home/zhouyl/share/phylosift/ncbi
/home/zhouyl/share/phylosift/markers

On Thu, Jul 11, 2019 at 9:10 AM ucassee <notifications@github.com> wrote:

[2019-07-11 16:23] ucassee commented on #501
@gjospin  Thanks for your patience~
If I want to change the location of these two database, can I modify the code ` /home/zhouyl/software/phylosift_v1.0.1/bin/../lib/Phylosift/Phylosift.pm` ? But in the line 154 I only see `Phylosift::Utilities::data_checks( self => $self )`

[2019-07-11 16:35] gjospin commented on #501
Change /home/zhouyl/software/phylosift_v1.0.1/phylosiftrc

find the line

# $marker_dir="";

change to

$marker_dir="/home/zhouyl/software/phylosift_v1.0.1/markers";

# $ncbi_dir

change to

$ncbi_dir="/home/zhouyl/software/phylosift_v1.0.1/ncbi"

On Thu, Jul 11, 2019 at 9:23 AM ucassee <notifications@github.com> wrote:

[2019-07-12 12:30] ucassee commented on #501
When I use phylosift to search conservative protein. I find there are too much same proteins in one of my genomes.

-rw-r--r-- 1 zhouyl microbial 1440 Jul 12 12:31 DNGNGWU00013.lastal.candidate.aa.1.11
-rw-r--r-- 1 zhouyl microbial 1151 Jul 12 12:31 DNGNGWU00013.lastal.candidate.aa.1.14
-rw-r--r-- 1 zhouyl microbial  377 Jul 12 12:31 DNGNGWU00013.lastal.candidate.aa.1.15
-rw-r--r-- 1 zhouyl microb

[2019-07-12 12:47] ucassee commented on #501
When I see the `marker_summary.txt`.

DNGNGWU00011    1
DNGNGWU00012    1
DNGNGWU00013    35
DNGNGWU00014    1
DNGNGWU00015    1
DNGNGWU00016    1

I think it is unlikely to have  35  `DNGNGWU00013` proteins in the genome. And combined with no hit in ncbi, I guess whether it is a mistake in the search progress.

[2019-07-12 13:48] ucassee commented on #501
I have another another question. I use the the sequences in the ` *candidate.ffn*` file to blast with the original genome sequences. I find when compared with original genome sequences, there are few gaps  in the sequences in ` *candidate.ffn*` file. If the ffn was  extracted from the original genome, why are these gaps exist?

[2019-07-12 16:05] gjospin commented on #501
The search step is really permissive in the matches. It is really meant to
reduce the complexity of the alignment step so it doesn't take too long. I
would perform the align step and see what sticks after that.
Also keep in mind that PS was developed with short reads in mind. You may
want to adjust thresholds in the phylosiftrc file in the same way you
modified the paths yesterday. The thresholds

[2019-07-13 01:36] ucassee commented on #501
The gaps are not too big, just  3,6, or 9 bp in my sequences.
Most of the predicted `DNGNGWU` protein can find homologous protein when blast in ncbi . But `DNGNGWU00013` I mentioned before could not. So do you suggest if I improve the threshold I can get more positive result?
I can't find the threshold setting line in `Phylosift.pm`. Could you help  me ?

[2019-07-15 17:19] gjospin commented on #501
No, I was suggesting to increase your threshold stringency to remove the
incorrect matches that should have lower hits. So if a default score is 150
in the phylosiftrc file, you would want to increase that to filter out
false positives. You could enforce a minimum number of bases getting
aligned also.

We have seen clades not have certain markers. It's possible marker 13
doesn't work well for your

[2019-07-16 13:13] ucassee commented on #501
Hi@jospin, Thanks for your hfelp. In the phylosiftrc file, I find too much parameters. I am not sure which one should I modify to increase the threshold. Is it the following ?

#$min_aligned_residues=50;
#$rna_split_size = 500; #sequences longer than this value will undergo the long sequence pipeline
#$gap_character = "-";

[2019-07-16 17:33] gjospin commented on #501
I would target the $min_aligned_residues and extend that closer to the
gene(s) you are interested in.
You can find the length markers in the database's HMM files. (grep 'LEN'
DNGNG*/*.hmm for example, our system is down right now, so I can't check
the exact syntax).
Also keep in mind this is in AA space, so 50 represents 150 nucleotides.

On Tue, Jul 16, 2019 at 6:13 AM ucassee <notifications@gith

[2019-08-06 09:41] LoryBkr commented on #490
Hello @nhudag,

I have the same issue and I don't know what to do. Did you succeed and ran Phylosift after this problem ?

[2019-08-06 09:43] LoryBkr commented on #487
Hello @mdimdadi,
I have the same issue but I don't know how to fix it. Do you have any idea now ?

[2019-08-06 17:24] gjospin commented on #490
Which link are you referring to?
The DB should be downloaded from figshare manually
https://figshare.com/articles/PhyloSift_markers_database/5755404

Use the marker.tgz that should be the most recent version. By default PS
looks for the 2 DB directories (ncbi and markers) in the directory
/$HOME/share/phylosift
You can modify that path by uncommenting the $markers and $ncbi variables
in the phylos

[2019-08-07 11:07] LoryBkr commented on #490
@gjospin my error was to download some files that were at the link: https://figshare.com/articles/PhyloSift_markers_database/5755404 and not all of them. Thank you for your answer.
I have another one: Does phylosift work on a 32-bit OS ?

[2019-08-07 15:35] gjospin commented on #490
I don't actually know. I don't remember ever trying it on a 32bit system.

On Wed, Aug 7, 2019 at 4:07 AM LoryBkr <notifications@github.com> wrote:

[2019-08-07 15:38] LoryBkr commented on #490
Ok, I found a solution and I was able to try it on a 64-bit OS. Thank you for your reply. Kind regards.

[2019-08-07 21:53] koadman commented on #490
just for sake of completeness of the record, the binaries in the phylosift releases were all built for 64-bit x86 CPUs. It may be possible to manually replace all the binaries that are bundled with phylosift (e.g. LAST, HMMER, Infernal, pplacer, etc) with 32-bit builds but building those would not be a small job.

[2019-08-23 21:56] Oakley-Lab opened #502 "Failed to open covariance model save file"
Hi, I have installed Phylosift and tried to run with example and assembled data, it terminates with error "Failed to open covariance model save file". Terminal output attached. Please suggest to resolve the issue.

Best,
Jitendra
[phylosift_error.txt](https://github.com/gjospin/PhyloSift/files/3536333/phylosift_error.txt)

[2019-11-18 21:13] jolespin opened #503 "[Feature Request] Please make this available via conda"
I am trying to add this to a pipeline at my institute.  I want to be able to export the conda environment and have others replicate the compute environment.  As of now, this is the only program in the pipeline that is not available via bioconda.

`conda install -c bioconda phylosift`

Would be the ideal situation.  Is this possible?

[2019-11-22 23:44] jolespin opened #504 "Link broken for download"
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2

This link doesn't work any more ^^^

[2019-11-22 23:55] jolespin commented on #487
I also have the same error...

[2020-02-10 19:11] kyselad opened #505 "hmmalign error"
I'm on MacOS 10.15 and hit the following error when trying to align with phylosift:

`Can't exec "/usr/local/phylosift/phylosift_v1.0.1/bin/../osx/hmmalign": Bad CPU type in executable at /usr/local/phylosift/phylosift_v1.0.1/bin/../lib/Phylosift/Utilities.pm line 207.
Use of uninitialized value in pattern match (m//) at /usr/local/phylosift/phylosift_v1.0.1/bin/../lib/Phylosift/Utilities.pm line

[2020-02-12 23:12] kyselad commented on #505
To update, the bad CPU error indicates a failure to execute the osx version of the hmmalign binary bundled into phylosift. I suspect this may have to do with Apple dropping 32-bit support in 10.15, but that's just a guess.

To solve the problem, I installed the current version of hmmer using MacPorts, then replaced the copies of hmmalign, hmmbuild, and hmmsearch in the phylosift/phylosift_v1.0.1/o

[2020-03-17 19:48] ltom6 opened #506 "broken link to download?"
Hello,

I am trying to download PhyloSift using the following link:
http://edhar.genomecenter.ucdavis.edu/~koadman/phylosift/phylosift_latest.tar.bz2

It returns a "Server Not Found" error:
"We can’t connect to the server at edhar.genomecenter.ucdavis.edu."

Is the link broken?

Thanks,
Lauren

[2020-03-23 08:24] bazante1 commented on #506
I'm having the same problem here!
But there is a version available from:
https://figshare.com/articles/PhyloSift_markers_database/5755404/4

[2020-03-23 08:31] bazante1 commented on #504
still broken

[2020-03-26 05:41] jolespin commented on #504
I tried getting it working for about a week but I had too many dependency issues and errors.  Doesn't look like there's been many updates over the past couple of years so I gave up.

[2020-05-14 03:22] chrisgaulke commented on #502
Little late but, I had the same problem with the new marker set. Updating infernal to version 1.1.2 fixed the issue. Once you install it, you can point to the new version in the phylosiftrc file.

[2020-07-30 09:02] MarcelaHer commented on #487
Hi, I also have the same error!
phylosift  -h
Can't locate App/Cmd/Setup.pm in @INC (@INC contains: /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 . /gpfs/software/ada/PhyloSift-1.0.0_01/bin/../lib) at /.../PhyloSift-1.0.0_01/bin/../lib/Phylosift.pm line 2.
BEGIN failed--compilation aborted at /../lib/Phylos

[2020-07-30 12:33] jolespin commented on #487
This package seems to be dead.  The authors haven’t touched the repository in years and key resource files on their website are missing. I would find another option that’s actively maintained.

[2020-11-12 22:20] kstangline commented on #466
Bump. I'm having the same error as above.

[2022-06-14 01:41] xieyg5 opened #507 "Use of uninitialized value $timestamp in scalar chomp at /data/software//PhyloSift/bin/../lib/Phylosift/Utilities.pm line 365, <$FH> line 1"
Hi,

I had some problems with the phylosift, as follows:

Use of uninitialized value $timestamp in scalar chomp at /data/software/PhyloSift/bin/../lib/Phylosift/Utilities.pm line 365, <$FH> line 1.
Use of uninitialized value in join or string at /data/software/PhyloSift/bin/../lib/Phylosift/Summarize.pm line 568.

and I found that the process died in pplacer.

I don't know how to solve it.  Do you